<p><h3>Dry Wet Mixer
</h3> It&#39;s a very common operation to mix exactly two inputs, one before
 processing occurs, and one after, and then mixing down to a combination
 of the two.  This is so common that most of the AudioKit nodes have a
 dry/wet mix parameter built in.  But, if you are building your own
 custom effects, or making a long chain of effects, you can use
 AKDryWetMixer to blend your signals.</p>

{% highlight ruby %}import PlaygroundSupport
import AudioKit

{% endhighlight %}
<p>This section prepares the players</p>

{% highlight ruby %}let file = try AKAudioFile(readFileName: "drumloop.wav", baseDir: .resources)
var drums = try AKAudioPlayer(file: file)
drums.looping  = true

{% endhighlight %}
<p>Build an effects chain:</p>

{% highlight ruby %}
var delay = AKDelay(drums)
delay.time = 0.1
delay.feedback = 0.8
let reverb = AKReverb(delay)
reverb.loadFactoryPreset(.largeChamber)

{% endhighlight %}
<p>Mix the result of those two processors back with the original</p>

{% highlight ruby %}
let mixture = AKDryWetMixer(drums, reverb, balance: 0.5)

AudioKit.output = mixture
AudioKit.start()
drums.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}
class PlaygroundView: AKPlaygroundView {

    var balanceLabel: Label?

    override func setup() {
        addTitle("Dry Wet Mix")

        addSubview(AKBypassButton(node: drums))

        addSubview(AKPropertySlider(
            property: "Balance",
            value: mixture.balance,
            color: AKColor.cyan
        ) { sliderValue in
            mixture.balance = sliderValue
            })
    }
}

PlaygroundPage.current.needsIndefiniteExecution = true
PlaygroundPage.current.liveView = PlaygroundView()

{% endhighlight %}
