<p><h3>Stereo Panning
</h3> Panning is a basic operation that is essential to mixing and direction
 perception and it couldn&#39;t be easier with AKPanner.</p>

{% highlight ruby %}import PlaygroundSupport
import AudioKit

{% endhighlight %}
<p>Set up the audio player</p>

{% highlight ruby %}let file = try AKAudioFile(readFileName: "drumloop.wav", baseDir: .resources)

let player = try AKAudioPlayer(file: file)
player.looping = true

{% endhighlight %}
<p>Route the audio player through the panner</p>

{% highlight ruby %}var panner = AKPanner(player)

AudioKit.output = panner
AudioKit.start()

player.play()

{% endhighlight %}
<p>Adjust the pan to smoothly cycle left and right over time</p>

{% highlight ruby %}
var time = 0.0
let timeStep = 0.05
AKPlaygroundLoop(every: timeStep) {
    panner.pan
    panner.pan = sin(time)
    time += timeStep
}

PlaygroundPage.current.needsIndefiniteExecution = true
{% endhighlight %}
