<h4>Github</h4>
<ul>
  <li><a href="https://github.com/audiokit/AudioKit">AudioKit Code</a></li>
  <li><a href="https://github.com/audiokit/audiokit.github.io">AudioKit Web Site</a></li>
</ul>

<h4>Contributor Web Sites</h4>
<ul>
  <li><a href="http://aure.com/">aure.com</a></li>
  <li><a href="http://nickarner.com/">nickarner.com</a></li>
  <li><a href="http://adamboulanger.com/">adamboulanger.com</a></li>
</ul>

<h4>Downloads</h4>
<ul>
  <li class="{% if page.permalink == '/downloads/' %}current{% endif %}"><a href="/downloads/">Get AudioKit</a></li>
</ul>
