<!-- Sidebar
============================================= -->
<div class="sidebar nobottommargin col_last clearfix">
  <div class="sidebar-widgets-wrap">

        <div class="widget clearfix">

          <h4>News</h4>
          <ul class="iconlist">
            <li><i class="icon-link"></i><a href="http://discchord.com/blog/2015/3/27/advanced-physics-based-generated-music.html">Advanced Physics-Based Generated Music</a></li>
            <li><i class="icon-link"></i><a href="https://maniacdev.com/2014/11/open-source-ios-library-greatly-simplifying-audio-synthesis-processing-and-analysis">ManiacDev.Com</a></li>
            <li><i class="icon-link"></i><a href="http://www.bizjournals.com/sanjose/news/2014/11/20/silicon-valley-coders-dig-into-apples-watchkit.html?page=all">Silicon Valley Business Journal</a></li>
            <li><i class="icon-link"></i><a href="http://www.csounds.com/audiokit-an-open-source-api-using-csound/">Csounds.com</a></li>
            <li><i class="icon-link"></i><a href="http://createdigitalmusic.com/2015/01/free-audiokit-lets-ios-mac-developers-code-synths-sound/">Create Digital Music</a></li>
            <li><i class="icon-link"></i><a href="http://www.synthtopia.com/content/2015/01/12/audiokit-an-open-source-platform-for-audio-synthesis-processing-and-analysis/">Synthtopia.com</a></li>
          </ul>

      </div>

      <div class="widget widget-twitter-feed clearfix">

      <a class="twitter-timeline" href="https://twitter.com/AudioKitMan" data-widget-id="580181764263432192">Tweets by @AudioKitMan</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      </div>




  </div>

</div><!-- .sidebar end -->
