<h4>News</h4>
<ul>
  <li><a href="https://maniacdev.com/2014/11/open-source-ios-library-greatly-simplifying-audio-synthesis-processing-and-analysis">ManiacDev.Com</a></li>
  <li><a href="http://www.bizjournals.com/sanjose/news/2014/11/20/silicon-valley-coders-dig-into-apples-watchkit.html?page=all">Silicon Valley Business Journal</a></li>
  <li><a href="http://www.csounds.com/audiokit-an-open-source-api-using-csound/">Csounds.com</a></li>
  <li><a href="http://createdigitalmusic.com/2015/01/free-audiokit-lets-ios-mac-developers-code-synths-sound/">Create Digital Music</a></li>  
  <li><a href="http://www.synthtopia.com/content/2015/01/12/audiokit-an-open-source-platform-for-audio-synthesis-processing-and-analysis/">Synthtopia.com</a></li>  
</ul>

<h4>Links</h4>
<ul>
  <li><a href="/about/">About Us</a></li>
  <li><a href="/faq/">FAQ</a></li>
  <li><a href="http://twitter.com/audiokitman">AudioKit on Twitter</a>
  <li><a href="https://groups.google.com/forum/#!forum/audiokit">AudioKit Forum</a>
</ul>

<h4>Downloads</h4>
<ul>
  <li class="{% if page.permalink == '/downloads/' %}current{% endif %}"><a href="/downloads/">Get AudioKit</a></li>
</ul>