<h4>News</h4>
<ul>
  <li><a href="https://maniacdev.com/2014/11/open-source-ios-library-greatly-simplifying-audio-synthesis-processing-and-analysis">ManiacDev.Com</a></li>
  <li><a href="http://www.bizjournals.com/sanjose/news/2014/11/20/silicon-valley-coders-dig-into-apples-watchkit.html?page=all">Silicon Valley Business Journal</a></li>
</ul>

<h4>Links</h4>
<ul>
  <li><a href="/about/">About Us</a></li>
  <li><a href="http://twitter.com/audiokitman">AudioKit on Twitter</a>
  <li><a href="https://groups.google.com/forum/#!forum/audiokit">AudioKit Forum</a>
</ul>
