<h4>Overviews</h4>
<ul>
  <li class="{% if page.permalink == '/docs/' %}current{% endif %}"><a href="/docs/">Documentation Home</a></li>
  <li class="{% if page.permalink == '/core-classes/' %}current{% endif %}"><a href="/core-classes/">Core Classes</a></li>
  <li class="{% if page.permalink == '/parameters/' %}current{% endif %}"><a href="/parameters/">Parameters</a></li>
  <li class="{% if page.permalink == '/properties/' %}current{% endif %}"><a href="/properties/">Properties</a></li>
</ul>

<h4>Operations</h4>
<ul>
  <li class="{% if page.permalink == '/operations/' %}current{% endif %}"><a href="/operations/">Overview</a></li>
  <li class="{% if page.permalink == '/operations/analysis' %}current{% endif %}"><a href="/operations/analysis/">Analysis</a></li>
  <li class="{% if page.permalink == '/operations/math' %}current{% endif %}"><a href="/operations/math/">Math</a></li>
  <li class="{% if page.permalink == '/operations/pvs/' %}current{% endif %}"><a href="/operations/pvs/">Phase-vocoder Streaming</a></li>
  <li class="{% if page.permalink == '/operations/signal-generators/' %}current{% endif %}"><a href="/operations/signal-generators/">Signal Generators</a></li>
  <li class="{% if page.permalink == '/operations/signal-io/' %}current{% endif %}"><a href="/operations/signal-io/">Signal Input and Output</a></li>
  <li class="{% if page.permalink == '/operations/signal-modifiers/' %}current{% endif %}"><a href="/operations/signal-modifiers/">Signal Modifiers</a></li>
</ul>
