<h4>Overviews</h4>
<ul>
  <li class="{% if page.permalink == '/docs/' %}current{% endif %}"><a href="/docs/">Documentation Home</a></li>
  <li class="{% if page.permalink == '/core-classes/' %}current{% endif %}"><a href="/core-classes/">Core Classes</a></li>
  <li class="{% if page.permalink == '/parameters/' %}current{% endif %}"><a href="/parameters/">Parameters</a></li>
  <li class="{% if page.permalink == '/properties/' %}current{% endif %}"><a href="/properties/">Properties</a></li>
  <li class="{% if page.permalink == '/engine/'     %}current{% endif %}"><a href="/engine/">Audio Engine</a></li>
  <li class="{% if page.permalink == '/faq/'     %}current{% endif %}"><a href="/faq/">FAQ</a></li>
</ul>

<h4>Operations</h4>
<ul>
  <li class="{% if page.url == '/operations/' %}current{% endif %}"><a href="/operations/">Overview</a></li>
  <li class="{% if page.url == '/operations/analysis/' %}current{% endif %}"><a href="/operations/analysis/">Analysis</a></li>
  <li class="{% if page.url == '/operations/function-tables/' %}current{% endif %}"><a href="/operations/function-tables/">Function Tables</a></li>
  <li class="{% if page.url == '/operations/math/' %}current{% endif %}"><a href="/operations/math/">Math</a></li>
  <li class="{% if page.url == '/operations/pvs/' %}current{% endif %}"><a href="/operations/pvs/">Phase-vocoder Streaming</a></li>
  <li class="{% if page.url == '/operations/signal-generators/' %}current{% endif %}"><a href="/operations/signal-generators/">Signal Generators</a></li>
  <li class="{% if page.url == '/operations/signal-io/' %}current{% endif %}"><a href="/operations/signal-io/">Signal Input and Output</a></li>
  <li class="{% if page.url == '/operations/signal-modifiers/' %}current{% endif %}"><a href="/operations/signal-modifiers/">Signal Modifiers</a></li>
</ul>

<h4>CocoaDocs</h4>
<ul>
<li><a href="http://cocoadocs.org/docsets/AudioKit/1.2-01/">V1.2 Class Reference</a></li>
</ul>

<h4>Downloads</h4>
<ul>
  <li class="{% if page.permalink == '/downloads/' %}current{% endif %}"><a href="/downloads/">Get AudioKit</a></li>
</ul>
