    <ul>
        <li class="{% if page.permalink == '/examples/' %}current{% endif %}"><a href="/examples/">Audio/Video Clips</a></li>
    </ul>

    <h4>Objective-C</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/ContinuousControl/' %}current{% endif %}"><a href="/examples/ContinuousControl/">Continuous Control</a></li>
      <li class="{% if page.permalink == '/examples/Convolution/'       %}current{% endif %}"><a href="/examples/Convolution/"      >Convolution</a></li>
      <li class="{% if page.permalink == '/examples/PlayAudioFile/'     %}current{% endif %}"><a href="/examples/PlayAudioFile/"    >Play Audio File</a></li>
      <li class="{% if page.permalink == '/examples/GranularSynthesis/' %}current{% endif %}"><a href="/examples/GranularSynthesis/">Granular Synthesis</a></li>
      <li class="{% if page.permalink == '/examples/Sequences/'         %}current{% endif %}"><a href="/examples/Sequences/"        >Sequences</a></li>
      <li class="{% if page.permalink == '/examples/SongLibraryPlayer/' %}current{% endif %}"><a href="/examples/SongLibraryPlayer/">Song Library Player</a></li>
      <li class="{% if page.permalink == '/examples/TouchRegions/'      %}current{% endif %}"><a href="/examples/TouchRegions/"     >Touch Regions</a></li>
      <li class="{% if page.permalink == '/examples/GlobalEffects/'      %}current{% endif %}"><a href="/examples/GlobalEffects/"     >Global Effects</a></li>
    </ul>

    <h4>Swift</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/SwiftConvolution/'       %}current{% endif %}"><a href="/examples/SwiftConvolution/"      >Convolution</a></li>
      <li class="{% if page.permalink == '/examples/SwiftFMOscillator/'      %}current{% endif %}"><a href="/examples/SwiftFMOscillator/"     >FM Oscillator</a></li>
      <li class="{% if page.permalink == '/examples/SwiftGranularSynthesis/' %}current{% endif %}"><a href="/examples/SwiftGranularSynthesis/">Granular Synthesis</a></li>
    </ul>
