    <ul>
        <li class="{% if page.permalink == '/examples/' %}current{% endif %}"><a href="/examples/">Sound Clips</a></li>
    </ul>

    <h4>Objective-C</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/ContinuousControl/' %}current{% endif %}"><a href="/examples/ContinuousControl/">Continuous Control</a></li>
      <li class="{% if page.permalink == '/examples/PlayAudioFile/'     %}current{% endif %}"><a href="/examples/PlayAudioFile/"    >Play Audio File</a></li>
      <li class="{% if page.permalink == '/examples/Sequences/'         %}current{% endif %}"><a href="/examples/Sequences/"        >Sequences</a></li>
      <li class="{% if page.permalink == '/examples/TouchRegions/'      %}current{% endif %}"><a href="/examples/TouchRegions/"     >Touch Regions</a></li>
    </ul>

    <h4>Swift</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/SwiftFMOscillator/' %}current{% endif %}"><a href="/examples/SwiftFMOscillator/">Swift FM Oscillator</a></li>
    </ul>

    <h4>Tutorials</h4>
    <ul>
      <li class="{% if page.permalink == '/tutorials/getting-started/'  %}current{% endif %}"><a href="/tutorials/getting-started/" >Getting Started</a></li>
      <li class="{% if page.permalink == '/tutorials/first-instrument/' %}current{% endif %}"><a href="/tutorials/first-instrument/">Coding Your First Instrument</a></li>
      <li class="{% if page.permalink == '/tutorials/user-interaction/' %}current{% endif %}"><a href="/tutorials/user-interaction/">Adding User Interface</a></li>
      <li class="{% if page.permalink == '/tutorials/contributing/'     %}current{% endif %}"><a href="/tutorials/contributing/"    >Contributing to Audio Kit</a></li>
    </ul>
