<ul>
    <li class="{% if page.permalink == '/gallery/'  %}current{% endif %}"><a href="/gallery/" >Gallery</a></li>
    <li class="{% if page.permalink == '/examples/' %}current{% endif %}"><a href="/examples/">Examples</a></li>
</ul>



<h4>Objective-C</h4>
<ul>
  <li class="{% if page.permalink == '/examples/ContinuousControl/' %}current{% endif %}"><a href="/examples/ContinuousControl/">Continuous Control</a></li>
  <li class="{% if page.permalink == '/examples/Convolution/'       %}current{% endif %}"><a href="/examples/Convolution/"      >Convolution</a></li>
  <li class="{% if page.permalink == '/examples/EffectsProcessorDemo/' %}current{% endif %}"><a href="/examples/EffectsProcessorDemo/">Effects Processor Demo</a></li>
  <li class="{% if page.permalink == '/examples/GranularSynthesis/' %}current{% endif %}"><a href="/examples/GranularSynthesis/">Granular Synthesis</a></li>
  <li class="{% if page.permalink == '/examples/Harmonizer/'        %}current{% endif %}"><a href="/examples/Harmonizer/"       >Harmonizer</a></li>
  <li class="{% if page.permalink == '/examples/Keyboard/'          %}current{% endif %}"><a href="/examples/Keyboard/"         >Keyboard</a></li>
  <li class="{% if page.permalink == '/examples/PlayAudioFile/'     %}current{% endif %}"><a href="/examples/PlayAudioFile/"    >Play Audio File</a></li>
  <li class="{% if page.permalink == '/examples/Sequences/'         %}current{% endif %}"><a href="/examples/Sequences/"        >Sequences</a></li>
  <li class="{% if page.permalink == '/examples/TouchRegions/'      %}current{% endif %}"><a href="/examples/TouchRegions/"     >Touch Regions</a></li>
</ul>

<h4>Swift</h4>
<ul>
  <li class="{% if page.permalink == '/examples/swift/Convolution/'       %}current{% endif %}"><a href="/examples/swift/Convolution/"      >Convolution</a></li>
  <li class="{% if page.permalink == '/examples/swift/FMOscillator/'      %}current{% endif %}"><a href="/examples/swift/FMOscillator/"     >FM Oscillator</a></li>
  <li class="{% if page.permalink == '/examples/swift/GranularSynthesis/' %}current{% endif %}"><a href="/examples/swift/GranularSynthesis/">Granular Synthesis</a></li>
  <li class="{% if page.permalink == '/examples/swift/Harmonizer/'        %}current{% endif %}"><a href="/examples/swift/Harmonizer/"       >Harmonizer</a></li>
  <li class="{% if page.permalink == '/examples/swift/Keyboard/'          %}current{% endif %}"><a href="/examples/swift/Keyboard/"       >Keyboard</a></li>
</ul>

<h4>GitHub Example Projects</h4>

<ul>
  <li><a href="http://github.com/audiokit/AudioKit/tree/develop/Examples">AudioKit's Included Examples</a></li>
  <li><a href="https://github.com/FlexMonkey/PendulaTone">PendulaTone</a></li>
  <li><a href="http://github.com/audiokit/SpaceCannon/">Space Cannon</a></li>
</ul>

<h4>Downloads</h4>
<ul>
  <li class="{% if page.permalink == '/downloads/' %}current{% endif %}"><a href="/downloads/">Get AudioKit</a></li>
</ul>
