<h4>Feature Index</h4>
<ul>
<li><a href="#open_source">Open Source</a><li>
<li><a href="#well_named">Well-Named Classes and Parameters</a></li>
<li><a href="#sensible_defaults">Sensible Defaults</a></li>
<li><a href="#xcode_integration">Tight Xcode Integration</a><li>
<li><a href="#examples">Many Examples and Tests</a><li>
<li><a href="#operations">100+
Operations</a></li>
<li><a href="#sequences">Powerful Sequences and Phrases</a><li>
<li><a href="#utilities">High-level Utilities</a><li>
</ul>

<h4>Downloads</h4>
<ul>
  <li class="{% if page.permalink == '/downloads/' %}current{% endif %}"><a href="/downloads/">Get AudioKit</a></li>
</ul>
