<ul>
  <li class="{% if page.permalink == '/tutorials/' %}current{% endif %}"><a href="/tutorials/">All tutorials</a></li>
</ul>

<h4>Tutorials</h4>
<ul>
  <li class="{% if page.permalink == '/tutorials/getting-started/' %}current{% endif %}"><a href="/tutorials/getting-started/">Getting Started</a></li>
  <li class="{% if page.permalink == '/tutorials/first-instrument/' %}current{% endif %}"><a href="/tutorials/first-instrument/">Coding Your First Instrument</a></li>
  <li class="{% if page.permalink == '/tutorials/contributing/' %}current{% endif %}"><a href="/tutorials/contributing/">Contributing to Audio Kit</a></li>
</ul>

<h4>Documentation</h4>
<ul>
  <li class="{% if page.permalink == '/core-classes/' %}current{% endif %}"><a href="/core-classes/">Core Classes</a></li>
  <li class="{% if page.permalink == '/parameters/' %}current{% endif %}"><a href="/parameters/">Parameters</a></li>
  <li class="{% if page.permalink == '/properties/' %}current{% endif %}"><a href="/properties/">Properties</a></li>
</ul>

<h4>Operations</h4>
<ul>
  <li class="{% if page.permalink == '/operations/' %}current{% endif %}"><a href="/operations/">Overview</a></li>
  <li class="{% if page.permalink == '/operations/analysis' %}current{% endif %}"><a href="/operations/analysis/">Analysis</a></li>
  <li class="{% if page.permalink == '/operations/math' %}current{% endif %}"><a href="/operations/math/">Math</a></li>
  <li class="{% if page.permalink == '/operations/pvs/' %}current{% endif %}"><a href="/operations/pvs/">Phase-vocoder Streaming</a></li>
  <li class="{% if page.permalink == '/operations/signal-generators/' %}current{% endif %}"><a href="/operations/signal-generators/">Signal Generators</a></li>
  <li class="{% if page.permalink == '/operations/signal-io/' %}current{% endif %}"><a href="/operations/signal-io/">Signal Input and Output</a></li>
  <li class="{% if page.permalink == '/operations/signal-modifiers/' %}current{% endif %}"><a href="/operations/signal-modifiers/">Signal Modifiers</a></li>
</ul>

