<p><h3>Pedestrians
</h3> A British crossing signal implemented with AudioKit, an example from
 Andy Farnell&#39;s excellent book &quot;Designing Sound&quot;</p>

{% highlight ruby %}import AudioKitPlaygrounds
import AudioKit

let generator = AKOperationGenerator { _ in

    // Generate a sine wave at the right frequency
    let crossingSignalTone = AKOperation.sineWave(frequency: 2_500)

    // Periodically trigger an envelope around that signal
    let crossingSignalTrigger = AKOperation.periodicTrigger(period: 0.2)
    let crossingSignal = crossingSignalTone.triggeredWithEnvelope(
        trigger: crossingSignalTrigger,
        attack: 0.01,
        hold: 0.1,
        release: 0.01)

    // scale the volume
    return crossingSignal * 0.2
}

AudioKit.output = generator
AudioKit.start()
{% endhighlight %}
<p>Activate the signal</p>

{% highlight ruby %}generator.start()

import PlaygroundSupport
PlaygroundPage.current.needsIndefiniteExecution = true
{% endhighlight %}
