<p><h3>AKAudioFile Part 3: Async Process
</h3><h4>Let&#39;s make more noise while processing
</h4></p>

{% highlight ruby %}

import XCPlayground

import Foundation
import AudioKit


{% endhighlight %}
<p>We pick some audio to play with from the resources folder...</p>

{% highlight ruby %}
let piano = try? AKAudioFile(readFileName: "poney.mp3")
let guitar = try? AKAudioFile(readFileName: "guitarloop.wav")
let lead = try? AKAudioFile(readFileName: "leadloop.wav")

{% endhighlight %}
<p>Within an AKAudioFile, there&#39;s already the player to listen to the file. Just ask for it :</p>

{% highlight ruby %}
let player1 = piano!.player!
player1.looping = true

{% endhighlight %}
<p>Then, we need 3 more players. They won&#39;t play now so we don&#39;t care. We&#39;ll use the same recipe.</p>

{% highlight ruby %}
let player2 = piano!.player!
player2.looping = true

let player3 = piano!.player!
player3.looping = true

let player4 = piano!.player!
player4.looping = true

{% endhighlight %}
<p>I love reverb..</p>

{% highlight ruby %}let reverb = AKReverb(player4)

{% endhighlight %}
<p>we put all of them them in a mixer.</p>

{% highlight ruby %}let mixer = AKMixer(player1, player2, player3, reverb)

{% endhighlight %}
<p>Let&#39;s have some sound now.</p>

{% highlight ruby %}
AudioKit.output = mixer
AudioKit.start()
player1.play()

{% endhighlight %}
<p>Only player 1 is playing. The other players will play only when we&#39;ll have made
 some process to feed them. As we want to process in background, we need callbacks.</p>

{% highlight ruby %}
{% endhighlight %}
<p>These callbacks will be triggered when process has been completed. Then, we
 can get the processed file and use it to feed a player, and start the player.
 So player 2, 3 and 4 will start to play as soon as their processed file have been completed.</p>

{% highlight ruby %}
{% endhighlight %}
<p>player2 will loop an extract of the piano piece.</p>

{% highlight ruby %}
func callback1() {
    try? player2.replaceFile(extractProcess.processedFile!)
    player2.play()
}

{% endhighlight %}
<p>player3 will play the piano backward.</p>

{% highlight ruby %}func callback2() {
    try? player3.replaceFile(reverseProcess.processedFile!)
    player3.play()
}

{% endhighlight %}
<p>player4 will play the result of appending the guitar loop to the lead loop</p>

{% highlight ruby %}func callback3() {
    try? player4.replaceFile(appendProcess.processedFile!)
    player4.play()
}

{% endhighlight %}
<p>Now, the callbacks are ready, let&#39;s begin with the &quot;extract&quot; process. We must
 provide a number of samples. Lets say we want 10 % of our (beautiful) piano piece</p>

{% highlight ruby %}
let tenPerCentsOfPiano = piano!.samplesCount / 10

{% endhighlight %}
<p>Fine, we&#39;ll pick a part from the beginning (but not at the beginning),
 so we extract from 10 % to 20 % of the piano song)</p>

{% highlight ruby %}
let extractProcess = piano!.extractAsynchronously(fromSample: tenPerCentsOfPiano,
                                                  toSample:tenPerCentsOfPiano * 2,
                                                  completionCallBack: callback1)
{% endhighlight %}
<p>We want another player to play the piano backward. So we need the reversed audiofile:</p>

{% highlight ruby %}let reverseProcess = piano!.reverseAsynchronously(completionCallBack: callback2)
{% endhighlight %}
<p>Then, as a tribute to Franckenstein, we append the guitarloop to the leadloop into a single file</p>

{% highlight ruby %}let appendProcess = lead!.appendAsynchronously(guitar!, completionCallBack: callback3)

{% endhighlight %}
<p>Process will occur in background, so they won&#39;t block the program.
 Notice that the print will occur before any process has ended.
 As soon as a process has been completed, its player will play,
 and new file will be processed and so on.</p>

{% highlight ruby %}
print ("Can refresh UI or do anything while processing...")

{% endhighlight %}
<p>Okay, the result is not so musical. But you can experiment with your own files
 (copy them in the playground resources folder so you can play with them)</p>

{% highlight ruby %}


XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
