<p><h3>Auto Wah Wah
</h3><h4>One of the most iconic guitar effects is the wah-pedal.
</h4><h4>This playground runs an audio loop of a guitar through an AKAutoWah node.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: processingPlaygroundFiles[0],
                           baseDir: .Resources)

let player = try AKAudioPlayer(file: file)
player.looping = true

var wah = AKAutoWah(player)
wah.wah = 1
wah.amplitude = 1

AudioKit.output = wah
AudioKit.start()

player.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}
class PlaygroundView: AKPlaygroundView {

    override func setup() {
        addTitle("Auto Wah Wah")

        addSubview(AKResourcesAudioFileLoaderView(
            player: player,
            filenames: processingPlaygroundFiles))

        addSubview(AKPropertySlider(
            property: "Wah",
            value: wah.wah,
            color: AKColor.greenColor()
        ) { sliderValue in
            wah.wah = sliderValue
            })
    }}

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
XCPlaygroundPage.currentPage.liveView = PlaygroundView(){% endhighlight %}
