<p><h3>Balancing Nodes
</h3><h4>Sometimes you want to ensure that an audio signal that you&#39;re processing remains at a volume similar to where it started.  Such an application is perfect for the AKBalancer node.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

{% endhighlight %}
<p>This section prepares the players</p>

{% highlight ruby %}let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("drumloop", ofType: "wav")
var source = AKAudioPlayer(file!)
source.looping = true

let highPassFiltering = AKHighPassFilter(source, cutoffFrequency: 900)
let lowPassFiltering = AKLowPassFilter(highPassFiltering, cutoffFrequency: 300)

{% endhighlight %}
<p>At this point you don&#39;t have much signal left, so you balance it against the original signal!</p>

{% highlight ruby %}let rebalancedWithSource = AKBalancer(lowPassFiltering, comparator: source)

AudioKit.output = rebalancedWithSource
AudioKit.start()
source.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}
class PlaygroundView: AKPlaygroundView {
    
    override func setup() {
        addTitle("Balancing Nodes")
        
        addLabel("Listen to the difference in volume:")
        addButton("Balance", action: #selector(start))
        addButton("Bypass", action: #selector(bypass))
    }
    
    func start() {
        rebalancedWithSource.start()
    }
    func bypass() {
        rebalancedWithSource.bypass()
    }
}

let view = PlaygroundView(frame: CGRect(x: 0, y: 0, width: 500, height: 200))
XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
XCPlaygroundPage.currentPage.liveView = view

{% endhighlight %}
