<p><h3>Dripping Sounds
</h3><h4>Physical model of a water drop letting hitting a pool.
</h4><h4>What&#39;s this good for?  We don&#39;t know, but hey it&#39;s cool. :)
</h4></p>

{% highlight ruby %}import AudioKit
import XCPlayground

let playRate = 2.0

let drip = AKDrip(intensity: 10,
                  dampingFactor: 0.9,
                  energyReturn: 1.5,
                  mainResonantFrequency: 1000.0,
                  firstResonantFrequency: 1500.0,
                  secondResonantFrequency: 2250.0,
                  amplitude: 0.1)

let reverb = AKReverb(drip)


AudioKit.output = reverb
AudioKit.start()

AKPlaygroundLoop(frequency: playRate) {
    drip.trigger()
}

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
