<h3>FFT Analysis
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "mixloop.wav", baseDir: .Resources)


{% endhighlight %}
<p>Here we set up a player to the loop the file&#39;s playback</p>

{% highlight ruby %}let player = try AKAudioPlayer(file: file)
player.looping = true

{% endhighlight %}
<p>The amplitude tracker&#39;s passes its input to the output, so we can insert into the signal chain at the bottom</p>

{% highlight ruby %}AudioKit.output = player
AudioKit.start()
player.play()
let fft = AKFFTTap(player)

{% endhighlight %}
<p>And here&#39;s where we monitor the results of tracking the amplitude.</p>

{% highlight ruby %}AKPlaygroundLoop(every: 0.1) {
    let max = fft.fftData.maxElement()!
    let index = fft.fftData.indexOf(max)
}

{% endhighlight %}
<p>This keeps the playground running so that audio can play for a long time</p>

{% highlight ruby %}XCPlaygroundPage.currentPage.needsIndefiniteExecution = true


{% endhighlight %}
