<p><h3>Node Output Plot
</h3><h4>What&#39;s interesting here is that we&#39;re plotting the waveform BEFORE the delay is processed
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "drumloop.wav", baseDir: .Resources)

{% endhighlight %}
<p>Here we set up a player to the loop the file&#39;s playback</p>

{% highlight ruby %}var player = try AKAudioPlayer(file: file)
player.looping = true


var delay = AKDelay(player)

delay.time = 0.1 // seconds
delay.feedback  = 0.9 // Normalized Value 0 - 1
delay.dryWetMix = 0.6 // Normalized Value 0 - 1

AudioKit.output = delay
AudioKit.start()
player.play()


let plot = AKNodeOutputPlot(player, frame: CGRect.init(x: 0, y: 0, width: 500, height: 500))
plot.plotType = .Rolling
plot.shouldFill = true
plot.shouldMirror = true
plot.color = UIColor.blueColor()

XCPlaygroundPage.currentPage.liveView = plot

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
