<h3>Roland TB-303 Filter
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "drumloop.wav", baseDir: .Resources)

let player = try AKAudioPlayer(file: file)
player.looping = true
var filter = AKRolandTB303Filter(player)

{% endhighlight %}
<p>Set the parameters of the filter here</p>

{% highlight ruby %}filter.cutoffFrequency = 1350
filter.resonance = 0.8

AudioKit.output = filter
AudioKit.start()
player.play()


var time = 0.0
let timeStep = 0.02

AKPlaygroundLoop(every: timeStep) {

    let hz = 2.0
    filter.cutoffFrequency = (1.0 - cos(2 * 3.14 * hz * time)) * 600 + 700
//    filter.resonance = (1.0 - sin(2 * 3.14 * 2 * hz * time)) * 0.5

    time += timeStep
}

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
