<p><h3>Rolling Output Plot
</h3><h4>If you open the Assitant editor and make sure it shows the
</h4><h4>Rolling Output Plot.xcplaygroundpage (Timeline) view,
</h4><h4>you should see a plot of the amplitude peaks scrolling in the view
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "mixloop.wav", baseDir: .Resources)

{% endhighlight %}
<p>Here we set up a player to the loop the file&#39;s playback</p>

{% highlight ruby %}var player = try AKAudioPlayer(file: file)
player.looping = true

AudioKit.output = player
AudioKit.start()
player.play()

let plotView = AKRollingOutputPlot.createView()

XCPlaygroundPage.currentPage.liveView = plotView

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
