<h3>Sean Costello Reverb Operation
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "mixloop.wav", baseDir: .Resources)

{% endhighlight %}
<p>Here we set up a player to the loop the file&#39;s playback</p>

{% highlight ruby %}var player = try AKAudioPlayer(file: file)
player.looping = true

let reverb = AKOperation.input.reverberateWithCostello(
    feedback: AKOperation.sineWave(frequency: 0.1).scale(minimum: 0.5, maximum: 0.97),
    cutoffFrequency: 10000)
let effect = AKOperationEffect(player, stereoOperation: reverb)

AudioKit.output = effect
AudioKit.start()
player.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
