<h3>Sequencer - Single output
</h3> 

{% highlight ruby %}import XCPlayground
import AudioKit

{% endhighlight %}
<p>Create the sequencer, but we can&#39;t init it until we do some basic setup</p>

{% highlight ruby %}var sequencer: AKSequencer

{% endhighlight %}
<p>Create a sampler, load a sound, and connect it to the output</p>

{% highlight ruby %}var sampler = AKSampler()

sampler.loadEXS24("Sounds/sawPiano1")
let reverb = AKCostelloReverb(sampler)

AudioKit.output = reverb

{% endhighlight %}
<p>Load in a midi file, and set the sequencer to the main audiokit engine</p>

{% highlight ruby %}sequencer = AKSequencer(filename: "4tracks", engine: AudioKit.engine)

{% endhighlight %}
<p>Do some basic setup to make the sequence loop correctly</p>

{% highlight ruby %}sequencer.setLength(4)
sequencer.loopOn()

{% endhighlight %}
<p>Here we set all tracks of the sequencer to the same audioUnit</p>

{% highlight ruby %}sequencer.setGlobalAVAudioUnitOutput(sampler.samplerUnit)

{% endhighlight %}
<p>Hear it go</p>

{% highlight ruby %}AudioKit.start()
sequencer.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
