<h3>Sequencer - Single output
</h3> 

{% highlight ruby %}import XCPlayground
import AudioKit

{% endhighlight %}
<p>Create the sequencer, but we can&#39;t init it until we do some basic setup</p>

{% highlight ruby %}var sequencer: AKSequencer

{% endhighlight %}
<p>Create a sampler, load a sound, and connect it to the output</p>

{% highlight ruby %}var sampler = AKSampler()

sampler.loadEXS24("Sounds/sawPiano1")

{% endhighlight %}
<p>NOTE: As of Xcode 7.3, the EXS24 sampler has stopped working properly in playgrounds. We have filed a bug report and we hope that Apple fixes it in the future.  With that hope, we haven&#39;t deleted this playground.  The EXS24 works just fine in a project setting, just not in playgrounds.  To see how it used to work visit: <a href="https://vimeo.com/152230901">https://vimeo.com/152230901</a></p>

{% highlight ruby %}
let reverb = AKCostelloReverb(sampler)

AudioKit.output = reverb

{% endhighlight %}
<p>Load in a midi file, and set the sequencer to the main audiokit engine</p>

{% highlight ruby %}sequencer = AKSequencer(filename: "4tracks", engine: AudioKit.engine)

{% endhighlight %}
<p>Do some basic setup to make the sequence loop correctly</p>

{% highlight ruby %}sequencer.setLength(4)
sequencer.enableLooping()

{% endhighlight %}
<p>Here we set all tracks of the sequencer to the same audioUnit</p>

{% highlight ruby %}sequencer.setGlobalAVAudioUnitOutput(sampler.samplerUnit)

{% endhighlight %}
<p>Hear it go</p>

{% highlight ruby %}AudioKit.start()
sequencer.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
