<h3>Sequencer - Multiple output
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

{% endhighlight %}
<p>Create the sequencer, but we can&#39;t init it until we do some basic setup</p>

{% highlight ruby %}var sequencer: AKSequencer

{% endhighlight %}
<p>Create some samplers, load different sounds, and connect it to a mixer and the output</p>

{% highlight ruby %}var sampler1 = AKSampler()
var sampler2 = AKSampler()
sampler1.loadEXS24("Sounds/sawPiano1")
sampler2.loadEXS24("Sounds/sqrTone1")

{% endhighlight %}
<p>NOTE: As of Xcode 7.3, the EXS24 sampler has stopped working properly in playgrounds. We have filed a bug report and we hope that Apple fixes it in the future.  With that hope, we haven&#39;t deleted this playground.  The EXS24 works just fine in a project setting, just not in playgrounds.  To see how it used to work visit: <a href="https://vimeo.com/152230901">https://vimeo.com/152230901</a></p>

{% highlight ruby %}
var mixer = AKMixer()
mixer.connect(sampler1)
mixer.connect(sampler2)

let reverb = AKCostelloReverb(mixer)

AudioKit.output = reverb

{% endhighlight %}
<p>Load in a midi file, and set the sequencer to the main audiokit engine</p>

{% highlight ruby %}sequencer = AKSequencer(filename: "4tracks", engine: AudioKit.engine)

{% endhighlight %}
<p>Do some basic setup to make the sequence loop correctly</p>

{% highlight ruby %}sequencer.setLength(AKDuration(beats: 4))
sequencer.enableLooping()
{% endhighlight %}
<p>Here we set each alternating track to a different instrument
 (Note that track 0 in our case is just meta information...not actual notes)</p>

{% highlight ruby %}sequencer.avTracks[1].destinationAudioUnit = sampler1.samplerUnit
sequencer.avTracks[2].destinationAudioUnit = sampler2.samplerUnit
sequencer.avTracks[3].destinationAudioUnit = sampler1.samplerUnit
sequencer.avTracks[4].destinationAudioUnit = sampler2.samplerUnit

{% endhighlight %}
<p>Hear it go</p>

{% highlight ruby %}AudioKit.start()
sequencer.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
