<h2>Synthesis Playgrounds
</h2>

<p>AudioKit comes with many playgrounds, each of which serves to teach some
 core concept, demonstrate a particular generator or synthesizer, or just
 show off some wacky sounds that we&#39;ve discovered.  Because there are so
 many playgrounds that are inter-related in different ways, the order of the
 playgrounds in Xcode is more or less alphabetical, however this index page
 lists all the the playgrounds grouped by category.  Playgrounds that fit
 into multiple categories are listed in each relevant category.</p>

<h3>Designing Sound
</h3>

<p>These playgrounds are inspired by the &quot;Practicals&quot; section of the book
 &quot;Designing Sound&quot;, by Andy Farnell.  While this book is excellent, the
 examples are implemented in Pd, which is okay, I guess, but hey, this is AudioKit!</p>

<ul>
<li><a href="Pedestrians">Pedestrians</a></li>
<li><a href="Telephone">Telephone</a> - Dialtone, ringing, busy signal, and digits</li>
</ul>

<p>Hopefully we&#39;ll add more practicals over time.  If you&#39;re interested in
 making more, submit a pull-request to the git repository and we&#39;ll be sure to include them.</p>

<h3>Generator Nodes
</h3>

<h4>Oscillators
</h4>

<p>Oscillators are the bread and butter of audio synthesis and there&#39;s no
 shortage of them in AudioKit.</p>

<ul>
<li><a href="Oscillator">Oscillator</a></li>
<li><a href="Oscillator%20Synth">Oscillator Synth</a></li>
<li><a href="FM%20Oscillator">FM Oscillator</a></li>
<li><a href="Morphing%20Oscillator">Morphing Oscillator</a></li>
<li><a href="Phase%20Distortion%20Oscillator">Phase Distortion Oscillator</a></li>
<li><a href="PWM%20Oscillator">Pulse Width Modulation Oscillator</a></li>
</ul>

<p>Oscillators are the basis of many synths which also usually have envelopes:</p>

<ul>
<li><a href="Amplitude%20Envelope">Amplitude Envelope</a></li>
<li><a href="Filter%20Envelope">Filter Envelope</a></li>
</ul>

<p>There are also oscillator banks which are a collection of oscillators 
 that allow you to play several notes at once (polyphony).</p>

<ul>
<li><a href="Oscillator%20Bank">Oscillator Bank</a></li>
<li><a href="FM%20Oscillator%20Bank">FM Oscillator Bank</a></li>
<li><a href="Morphing%20Oscillator%20Bank">Morphing Oscillator Bank</a></li>
<li><a href="Phase%20Distortion%20Oscillator%20Bank">Phase Distortion Oscillator Bank</a></li>
<li><a href="PWM%20Oscillator%20Bank">Pulse Width Modulation Oscillator Bank</a></li>
</ul>

<h4>Noise Generators
</h4>

<p>There are two noise &quot;colors&quot; to start off with, pink and white, 
 but we aim to have a much larger spectrum soon.</p>

<ul>
<li><a href="Noise%20Generators">Noise Generators</a></li>
</ul>

<h4>Physical Models
</h4>

<p>These playgrounds highlight sound synthesis in which the intent is to
 to model a real-life sound, instrument, or object.</p>

<ul>
<li><a href="Drawbar%20Organ">Drawbar Organ</a></li>
<li><a href="Dripping%20Sounds">Dripping Sounds</a></li>
<li><a href="Drum%20Synthesizers">Drum Synthesizers</a></li>
<li><a href="Plucked%20String">Plucked String</a></li>
<li><a href="Mandolin">Mandolin</a></li>
<li><a href="Flute">Flute</a></li>
</ul>

<h3>Operations
</h3>

<p>Many of the types of things you can do in nodes are also possible with operations,
 but with great flexibility in how the parameters are changed over time.</p>

<ul>
<li><a href="FM%20Oscillator%20Operation">FM Oscillator</a></li>
<li><a href="Segment%20Operations">Segment Operations</a></li>
<li><a href="Noise%20Operations">Noise</a></li>
<li><a href="Phasor%20Operation">Phasor</a></li>
<li><a href="Plucked%20String%20Operation">Plucked String</a></li>
<li><a href="Sawtooth%20Wave%20Oscillator%20Operation">Sawtooth Wave Oscillator</a></li>
</ul>

<h4>Sporth
</h4>

<p>Sporth is a simple but super-powerful stack-based audio processing language
 that you can run directly in AudioKit. This playground contains several examples of sound synthesis with Sporth.</p>

<ul>
<li><a href="Sporth%20Based%20Generator">Sporth Based Generator</a></li>
</ul>
