<p><h3>Tracking Frequency of an Audio File
</h3><h4>Here is a more real-world example of tracking the pitch of an audio stream
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: "leadloop.wav", baseDir: .Resources)

{% endhighlight %}
<p>Here we set up a player to the loop the file&#39;s playback</p>

{% highlight ruby %}var player = try AKAudioPlayer(file: file)
player.looping = true

let tracker = AKFrequencyTracker(player, minimumFrequency: 400, maximumFrequency: 600)

AudioKit.output = tracker
AudioKit.start()
player.play()

{% endhighlight %}
<p>And here&#39;s where we monitor the results of tracking the amplitude.</p>

{% highlight ruby %}AKPlaygroundLoop(every: 0.1) {
    let amp = tracker.amplitude
    let freq = tracker.frequency
}

{% endhighlight %}
<p>This keeps the playground running so that audio can play for a long time</p>

{% highlight ruby %}XCPlaygroundPage.currentPage.needsIndefiniteExecution = true


{% endhighlight %}
