<p><h3>Tracking Amplitude
</h3><h4>Here, we show how you can determine the amplitude of an audio signal by
</h4><h4>outputting the value of a generator node into the AKAmplitudeTracker.
</h4><h4>This node is great if you want to build an app that does audio monitoring and analysis.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

{% endhighlight %}
<p>Let&#39;s set up the volume to be changing in the shape of a sine wave</p>

{% highlight ruby %}let volume = AKOperation.sineWave(frequency:0.2).scale(minimum: 0, maximum: 0.5)

{% endhighlight %}
<p>And let&#39;s make the frequency move around to make sure it doesn&#39;t affect the amplitude tracking</p>

{% highlight ruby %}let frequency = AKOperation.jitter(amplitude: 200, minimumFrequency: 10, maximumFrequency: 30) + 200

{% endhighlight %}
<p>So our oscillator will move around randomly in frequency and have a smoothly varying amplitude</p>

{% highlight ruby %}let oscillator = AKOperation.sineWave(frequency: frequency, amplitude: volume)

{% endhighlight %}
<p>Connect up the the nodes</p>

{% highlight ruby %}let oscillatorNode = AKOperationGenerator(operation: oscillator)
let trackedAmplitude = AKAmplitudeTracker(oscillatorNode)

{% endhighlight %}
<p>The amplitude tracker passes its input to the output, so we can insert into the signal chain at the bottom</p>

{% highlight ruby %}AudioKit.output = trackedAmplitude
AudioKit.start()
oscillatorNode.start()

{% endhighlight %}
<p>And here&#39;s where we monitor the results of tracking the amplitude.</p>

{% highlight ruby %}AKPlaygroundLoop(every: 0.1) {
    let amp = trackedAmplitude.amplitude
}

{% endhighlight %}
<p>This keeps the playground running so that audio can play for a long time</p>

{% highlight ruby %}XCPlaygroundPage.currentPage.needsIndefiniteExecution = true


{% endhighlight %}
<p>You can experiment with this playground by changing the volume function to a
 phasor or another well-known function to see how well the amplitude tracker
 can track.  Also, you could change the sound source from an oscillator to a
 noise generator, or any constant sound source (some things like a physical
 model would not work because the output has an envelope to its volume).
 Instead of just plotting our results, we could use the value to drive other
 sounds or update an app&#39;s user interface.</p>
