<p><h3>Tremolo
</h3><h4>
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("guitarloop", ofType: "wav")
var player = AKAudioPlayer(file!)
player.looping = true
var tremolo = AKTremolo(player, waveform: AKTable(.PositiveSquare))

{% endhighlight %}
<p>Set the parameters of the tremolo here</p>

{% highlight ruby %}tremolo.frequency = 8

AudioKit.output = tremolo
AudioKit.start()

player.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}
class PlaygroundView: AKPlaygroundView {
    
    var tremoloLabel: Label?
    
    override func setup() {
        addTitle("Tremolo")
        
        addLabel("Audio Playback")
        addButton("Start", action: #selector(start))
        addButton("Stop", action: #selector(stop))
        
        tremoloLabel = addLabel("Frequency: \(tremolo.frequency)")
        addSlider(#selector(setFrequency), value: tremolo.frequency, minimum: 0, maximum: 20)
    }
    
    func start() {
        player.play()
    }
    func stop() {
        player.stop()
    }
    
    func setFrequency(slider: Slider) {
        tremolo.frequency = Double(slider.value)
        tremoloLabel!.text = "Frequency: \(String(format: "%0.3f", tremolo.frequency))"
    }
    
}

let view = PlaygroundView(frame: CGRect(x: 0, y: 0, width: 500, height: 300))
XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
XCPlaygroundPage.currentPage.liveView = view


{% endhighlight %}
