<h3>White Noise
</h3> 

{% highlight ruby %}import XCPlayground
import AudioKit

let audiokit = AKManager.sharedInstance
var noise = AKWhiteNoise(amplitude: 0.0)
audiokit.audioOutput = noise
audiokit.start()
noise.start()

{% endhighlight %}
<p>This is a timer that will change the amplitude of the pink noise</p>

{% highlight ruby %}var t = 0.0
let timeStep = 0.02

AKPlaygroundLoop(every: timeStep) {
    
    //: Vary the amplitude between zero and 1 in a sinusoid at 0.5Hz
    let amplitudeModulationHz = 0.5
    let amp = (1.0 - cos(2 * 3.14 * amplitudeModulationHz * t)) * 0.5 // Click the eye to see a graph view
    noise.amplitude = amp
    
    t = t + timeStep
}

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
