<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKTrackedAmplitude.html">AKTrackedAmplitude</td>
 <td class='two-thirds'> Determines the root-mean-square amplitude of an audio signal.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTrackedAmplitudeFromFSignal.html">AKTrackedAmplitudeFromFSignal</td>
 <td class='two-thirds'> Track the amplitude of an F-Signal as control-rate variables.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTrackedFrequency.html">AKTrackedFrequency</td>
 <td class='two-thirds'> Tracks the pitch of a signal.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTrackedFrequencyFromFSignal.html">AKTrackedFrequencyFromFSignal</td>
 <td class='two-thirds'> Track the frequency of an F-Signal as control-rate variables.
</td>
</tr>
</table>
