<div id=FFT>
<h3> FFT</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKCrossSynthesizedFFT.html">AKCrossSynthesizedFFT</a></td>
 <td class='two-thirds'> Performs cross-synthesis between two source F-Signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFT.html">AKFFT</a></td>
 <td class='two-thirds'> Generate an f-Signal from a mono audio source using phase vocoder overlap-add synthesis.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFTProcessor.html">AKFFTProcessor</a></td>
 <td class='two-thirds'> Phase vocoder analysis processing with onset detection/processing.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFTTableReader.html">AKFFTTableReader</a></td>
 <td class='two-thirds'> Reads amplitude and/or frequency data from function tables.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFTTableWriter.html">AKFFTTableWriter</a></td>
 <td class='two-thirds'> Writes amplitude and/or frequency data to function tables.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFilteredFFT.html">AKFilteredFFT</a></td>
 <td class='two-thirds'> Multiply amplitudes of an f-signal by those of a second f-signal, with dynamic scaling.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMaskedFFT.html">AKMaskedFFT</a></td>
 <td class='two-thirds'> Modify amplitudes using a function table, with dynamic scaling.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMixedFFT.html">AKMixedFFT</a></td>
 <td class='two-thirds'> Mix 'seamlessly' two pv signals. This opcode combines the most prominent
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKPhaseLockedVocoder.html">AKPhaseLockedVocoder</a></td>
 <td class='two-thirds'> Phase-locked vocoder processing.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKResynthesizedAudio.html">AKResynthesizedAudio</a></td>
 <td class='two-thirds'> Resynthesise phase vocoder data (f-signal) using a FFT overlap-add.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKScaledFFT.html">AKScaledFFT</a></td>
 <td class='two-thirds'> Scale the frequency components of a pv stream, resulting in pitch shift.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSpectralVocoder.html">AKSpectralVocoder</a></td>
 <td class='two-thirds'> Combine the spectral envelope of one F-signal with the excitation (frequencies) of another.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKWarpedFFT.html">AKWarpedFFT</a></td>
 <td class='two-thirds'> Warp the spectral envelope of a PVS signal by means of shifting and scaling.
</td>
</tr>
</table></div>
