<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKCrossSynthesizedFFT.html">AKCrossSynthesizedFFT</td>
 <td class='two-thirds'> Performs cross-synthesis between two source F-Signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFT.html">AKFFT</td>
 <td class='two-thirds'> Generate an f-Signal from a mono audio source using phase vocoder overlap-add synthesis.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFFTProcessor.html">AKFFTProcessor</td>
 <td class='two-thirds'> Phase vocoder analysis processing with onset detection/processing.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMixedFFT.html">AKMixedFFT</td>
 <td class='two-thirds'> Mix 'seamlessly' two pv signals. This opcode combines the most prominent
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKPhaseLockedVocoder.html">AKPhaseLockedVocoder</td>
 <td class='two-thirds'> Phase-locked vocoder processing.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKResynthesizedAudio.html">AKResynthesizedAudio</td>
 <td class='two-thirds'> Resynthesise phase vocoder data (f-signal) using a FFT overlap-add.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKScaledFFT.html">AKScaledFFT</td>
 <td class='two-thirds'> Scale the frequency components of a pv stream, resulting in pitch shift.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSpectralVocoder.html">AKSpectralVocoder</td>
 <td class='two-thirds'> Combine the spectral envelope of one F-signal with the excitation (frequencies) of another.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKWarpedFFT.html">AKWarpedFFT</td>
 <td class='two-thirds'> Warp the spectral envelope of a PVS signal by means of shifting and scaling.
</td>
</tr>
</table>
