<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKTableValue.html">AKTableValue</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTableValueConstant.html">AKTableValueConstant</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTableValueControl.html">AKTableValueControl</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
</table>

<h3> Generators</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKAdditiveCosineTable.html">AKAdditiveCosineTable</td>
 <td class='two-thirds'> Generates an additive set of cosine partials
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKArrayTable.html">AKArrayTable</td>
 <td class='two-thirds'> Constructs a function table out of an NSArray.  If size is unspecififed,
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKExponentialCurves.html">AKExponentialCurves</td>
 <td class='two-thirds'> Constructs functions from segments of exponential curves.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFunctionTable.html">AKFunctionTable</td>
 <td class='two-thirds'> Generic AK Function Table definiton.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLineSegments.html">AKLineSegments</td>
 <td class='two-thirds'> Construct functions from segments of straight lines
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKRandomDistributionTable.html">AKRandomDistributionTable</td>
 <td class='two-thirds'> Generates tables of different random distributions.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSoundFile.html">AKSoundFile</td>
 <td class='two-thirds'> Transfers data from a soundfile into a function table.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKWeightedSumOfSinusoids.html">AKWeightedSumOfSinusoids</td>
 <td class='two-thirds'> Generates composite waveforms made up of weighted sums of simple sinusoids.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKWindowsTable.html">AKWindowsTable</td>
 <td class='two-thirds'> Generates functions of different windows. These windows are usually used for
</td>
</tr>
</table>

<h3> Loopers</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKFunctionTableLooper.html">AKFunctionTableLooper</td>
 <td class='two-thirds'> Function-table-based crossfading looper.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMonoSoundFileLooper.html">AKMonoSoundFileLooper</td>
 <td class='two-thirds'> Read sampled sound from a table using cubic interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKStereoSoundFileLooper.html">AKStereoSoundFileLooper</td>
 <td class='two-thirds'> Read sampled sound from a table using cubic interpolation.
</td>
</tr>
</table>
