<h3> Mathematical Operations</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKAssignment.html">AKAssignment</td>
 <td class='two-thirds'> Simply a wrapper for the equal sign
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMaximum.html">AKMaximum</td>
 <td class='two-thirds'> Produces a signal that is the maximum of any number of input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMinimum.html">AKMinimum</td>
 <td class='two-thirds'> Produces a signal that is the minimum of any number of input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMultipleInputMathOperation.html">AKMultipleInputMathOperation</td>
<tr>
<td class='one-third'><a href="/Classes/AKProduct.html">AKProduct</td>
 <td class='two-thirds'> Multiplies any number of audio signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKScaledControl.html">AKScaledControl</td>
 <td class='two-thirds'> Scales incoming value from 0 to 1 to user-definable range.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSum.html">AKSum</td>
 <td class='two-thirds'> Sums any number of a-rate signals.
</td>
</tr>
</table>
