<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKAssignment.html">AKAssignment</td>
 <td class='two-thirds'> Simply a wrapper for the equal sign
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKScaledControl.html">AKScaledControl</td>
 <td class='two-thirds'> Scales incoming value from 0 to 1 to user-definable range.
</td>
</tr>
</table>

<h3> Mininum and Maximum</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKMaxAudio.html">AKMaxAudio</td>
 <td class='two-thirds'> Produces a signal that is the maximum of any number of input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMaxControl.html">AKMaxControl</td>
 <td class='two-thirds'> Produces a signal that is the maximum of any number of input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMinAudio.html">AKMinAudio</td>
 <td class='two-thirds'> Produces a signal that is the minimum of any number of input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMinControl.html">AKMinControl</td>
 <td class='two-thirds'> Produces a signal that is the minimum of any number of input signals.
</td>
</tr>
</table>

<h3> Mixing</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKMixedAudio.html">AKMixedAudio</td>
 <td class='two-thirds'> Calculates the weighted mean value of two input signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMixedControl.html">AKMixedControl</td>
 <td class='two-thirds'> Calculates the weighted mean value of two control signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKProduct.html">AKProduct</td>
 <td class='two-thirds'> Multiplies any number of audio signals.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSum.html">AKSum</td>
 <td class='two-thirds'> Sums any number of a-rate signals.
</td>
</tr>
</table>

<h3> Table Value</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKTableValue.html">AKTableValue</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTableValueConstant.html">AKTableValueConstant</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTableValueControl.html">AKTableValueControl</td>
 <td class='two-thirds'> Accesses table values by direct indexing with linear interpolation.
</td>
</tr>
</table>
