<h3> Convolutions</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKConvolution.html">AKConvolution</td>
 <td class='two-thirds'> Convolution based on a uniformly partitioned overlap-save algorithm.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKStereoConvolution.html">AKStereoConvolution</td>
 <td class='two-thirds'> Convolution based on a uniformly partitioned overlap-save algorithm.
</td>
</tr>
</table>

<h3> Delays</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKDelay.html">AKDelay</td>
 <td class='two-thirds'> Simple audio delay
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMultitapDelay.html">AKMultitapDelay</td>
 <td class='two-thirds'> Multitap delay line implementation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKVariableDelay.html">AKVariableDelay</td>
 <td class='two-thirds'> An interpolating variable time delay.
</td>
</tr>
</table>

<h3> Effects</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKCompressor.html">AKCompressor</td>
 <td class='two-thirds'> Compress, limit, expand, duck or gate an audio signal.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKCompressorExpander.html">AKCompressorExpander</a></td>
 <td class='two-thirds'> Dynamic Compressor / Expander
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKDopplerEffect.html">AKDopplerEffect</td>
 <td class='two-thirds'> A fast and robust method for approximating sound propagation, achieving convincing Doppler shifts without having to solve equations.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFlanger.html">AKFlanger</td>
 <td class='two-thirds'> Flange effect
</td>
</tr>
</table>

<h3> Filters</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKCombFilter.html">AKCombFilter</td>
 <td class='two-thirds'> Reverberates an input signal with a “colored” frequency response.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKDCBlock.html">AKDCBlock</td>
 <td class='two-thirds'> A DC blocking filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKEqualizerFilter.html">AKEqualizerFilter</td>
 <td class='two-thirds'> Second-order tunable equalisation filter based on Regalia and Mitra design.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKHighPassFilter.html">AKHighPassFilter</td>
 <td class='two-thirds'> A first-order recursive high-pass filter with variable frequency response.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKHilbertTransformer.html">AKHilbertTransformer</td>
 <td class='two-thirds'> An IIR implementation of a Hilbert transformer.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLowPassFilter.html">AKLowPassFilter</td>
 <td class='two-thirds'> A first-order recursive low-pass filter with variable frequency response.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMoogLadder.html">AKMoogLadder</td>
 <td class='two-thirds'> Moog ladder lowpass filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMoogVCF.html">AKMoogVCF</td>
 <td class='two-thirds'> A digital emulation of the Moog diode ladder filter configuration.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKResonantFilter.html">AKResonantFilter</td>
 <td class='two-thirds'> A second-order resonant filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKThreePoleLowpassFilter.html">AKThreePoleLowpassFilter</td>
 <td class='two-thirds'> A 3-pole sweepable resonant lowpass filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKVariableFrequencyResponseBandPassFilter.html">AKVariableFrequencyResponseBandPassFilter</td>
 <td class='two-thirds'> A second-order resonant filter.
</td>
</tr>
</table>

<h3> Butterworth Filters</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKBandPassButterworthFilter.html">AKBandPassButterworthFilter</td>
 <td class='two-thirds'> A band-pass Butterworth filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKBandRejectButterworthFilter.html">AKBandRejectButterworthFilter</td>
 <td class='two-thirds'> A band-reject Butterworth filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKHighPassButterworthFilter.html">AKHighPassButterworthFilter</td>
 <td class='two-thirds'> A high-pass Butterworth filter.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLowPassButterworthFilter.html">AKLowPassButterworthFilter</td>
 <td class='two-thirds'> A low-pass Butterworth filter.
</td>
</tr>
</table>

<h3> declick</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKDeclick.html">AKDeclick</td>
 <td class='two-thirds'> Removes clicks from signal start and end
</td>
</tr>
</table>

<h3> Reverbs</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKBallWithinTheBoxReverb.html">AKBallWithinTheBoxReverb</td>
 <td class='two-thirds'> A physical model reverberator.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFlatFrequencyResponseReverb.html">AKFlatFrequencyResponseReverb</td>
 <td class='two-thirds'> Reverberates an input signal with a flat frequency response.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKParallelCombLowPassFilterReverb.html">AKParallelCombLowPassFilterReverb</td>
 <td class='two-thirds'> A reverberator consisting of 6 parallel comb-lowpass filters.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKReverb.html">AKReverb</td>
 <td class='two-thirds'> 8 delay line stereo FDN reverb
</td>
</tr>
</table>

<h3> Volume and Spatialization</h3>
<table class="table table-bordered"><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKBalance.html">AKBalance</td>
 <td class='two-thirds'> Adjusts one audio signal according to the values of another.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKPanner.html">AKPanner</td>
 <td class='two-thirds'> Distribute an audio signal across two channels with a choice of methods.
</td>
</tr>
</table>
