<h3> Granular Synthesis</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKGranularSynthesisTexture.html">AKGranularSynthesisTexture</td>
 <td class='two-thirds'> Generates granular synthesis textures.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSinusoidBursts.html">AKSinusoidBursts</td>
 <td class='two-thirds'> Produces sinusoid bursts useful for formant and granular synthesis.
</td>
</tr>
</table>

<h3> Linear ADSR Envelopes</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKLinearADSRAudioEnvelope.html">AKLinearADSRAudioEnvelope</td>
 <td class='two-thirds'> Calculates the classical ADSR envelope using linear segments.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLinearADSRControlEnvelope.html">AKLinearADSRControlEnvelope</td>
 <td class='two-thirds'> Calculates the classical ADSR envelope using linear segments.
</td>
</tr>
</table>

<h3> Linear Envelopes</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKLinearAudioEnvelope.html">AKLinearAudioEnvelope</td>
 <td class='two-thirds'> Applies a straight line rise and decay pattern to an input amp signal.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLinearControlEnvelope.html">AKLinearControlEnvelope</td>
 <td class='two-thirds'> Applies a straight line rise and decay pattern to an input amp signal.
</td>
</tr>
</table>

<h3> Lines</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKLine.html">AKLine</td>
 <td class='two-thirds'> Creates a line that extends from a starting to a second point over the given time duration.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLinearControl.html">AKLinearControl</td>
 <td class='two-thirds'> Creates a line that extends from a starting to a second point over the giventime duration.
</td>
</tr>
</table>

<h3> Musical Controls</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>
<tr>
<td class='one-third'><a href="/Classes/AKPortamento.html">AKPortamento</td>
 <td class='two-thirds'> Applies portamento to a step-valued control signal.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKVibrato.html">AKVibrato</td>
 <td class='two-thirds'> Generates a natural-sounding user-controllable vibrato.
</td>
</tr>
</table>

<h3> Oscillators</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKFMOscillator.html">AKFMOscillator</td>
 <td class='two-thirds'> Basic frequency modulated oscillator with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKOscillatingControl.html">AKOscillatingControl</td>
 <td class='two-thirds'> A simple oscillator with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKOscillator.html">AKOscillator</td>
 <td class='two-thirds'> A simple oscillator with linear interpolation.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKVCOscillator.html">AKVCOscillator</td>
 <td class='two-thirds'> Implementation of a band-limited oscillator using pre-calculated tables.  Meant to model vintage analog synthesizers.
</td>
</tr>
</table>

<h3> Low Frequency Oscillators</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKLowFrequencyOscillatingControl.html">AKLowFrequencyOscillatingControl</td>
 <td class='two-thirds'> A low frequency oscillator of various shapes.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLowFrequencyOscillator.html">AKLowFrequencyOscillator</td>
 <td class='two-thirds'> A low frequency oscillator of various shapes.
</td>
</tr>
</table>

<h3> Phasors</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKPhasingControl.html">AKPhasingControl</td>
 <td class='two-thirds'> A normalized moving phase value.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKPhasor.html">AKPhasor</td>
 <td class='two-thirds'> A normalized moving phase value.
</td>
</tr>
</table>

<h3> Physical Models</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKPluckedString.html">AKPluckedString</td>
 <td class='two-thirds'> Physical model of the plucked string.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKStruckMetalBar.html">AKStruckMetalBar</td>
 <td class='two-thirds'> Creates a tone similar to a struck metal bar.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKVibes.html">AKVibes</td>
 <td class='two-thirds'> Physical model related to the striking of a metal block.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMandolin.html">AKMandolin</td>
 <td class='two-thirds'> An emulation of a mandolin.
</td>
</tr>

<tr>
<td class='one-third'><a href="/Classes/AKMarimba.html">AKMarimba</td>
 <td class='two-thirds'> Physical model related to the striking of a wooden block.
</td>
</tr>
</table>

<h3> PhISEM</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKBambooSticks.html">AKBambooSticks</td>
 <td class='two-thirds'> Semi-physical model of a bamboo sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKCabasa.html">AKCabasa</td>
 <td class='two-thirds'> Semi-physical model of a cabasa sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKCrunch.html">AKCrunch</td>
 <td class='two-thirds'> Semi-physical model of a crunch sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKDroplet.html">AKDroplet</td>
 <td class='two-thirds'> Semi-physical model of a water drop.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKGuiro.html">AKGuiro</td>
 <td class='two-thirds'> Semi-physical model of a guiro sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSandPaper.html">AKSandPaper</td>
 <td class='two-thirds'> Semi-physical model of a sandpaper sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSekere.html">AKSekere</td>
 <td class='two-thirds'> Semi-physical model of a sekere sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSleighbells.html">AKSleighbells</td>
 <td class='two-thirds'> Semi-physical model of a sleighbell sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKStick.html">AKStick</td>
 <td class='two-thirds'> Semi-physical model of a stick sound.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKTambourine.html">AKTambourine</td>
 <td class='two-thirds'> Semi-physical model of a tambourine sound.
</td>
</tr>
</table>

<h3> Waveguide</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKBeatenPlate.html">AKBeatenPlate</td>
 <td class='two-thirds'> A model of beaten plate consisting of two parallel delay-lines and two first-order lowpass filters.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKBowedString.html">AKBowedString</td>
 <td class='two-thirds'> Creates a tone similar to a bowed string.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKSimpleWaveGuideModel.html">AKSimpleWaveGuideModel</td>
 <td class='two-thirds'> A simple waveguide model consisting of one delay-line and one first-order lowpass filter.
</td>
</tr>
</table>

<h3> Random Generators</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKInterpolatedRandomNumberPulse.html">AKInterpolatedRandomNumberPulse</td>
 <td class='two-thirds'> Generates a controlled random number series with interpolation between each new number.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKJitter.html">AKJitter</td>
 <td class='two-thirds'> Generates a segmented line whose segments are randomly generated.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKRandomAudio.html">AKRandomAudio</td>
 <td class='two-thirds'> Generates a controlled pseudo-random number series between min and max values.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKRandomControl.html">AKRandomControl</td>
 <td class='two-thirds'> Generates a controlled pseudo-random number series between min and max values.
</td>
</tr>
</table>

<h3> Segment Arrays</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKAudioSegmentArray.html">AKAudioSegmentArray</td>
 <td class='two-thirds'> Trace a series of line segments between specified points.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKControlSegmentArray.html">AKControlSegmentArray</td>
 <td class='two-thirds'> Trace a series of line segments between specified points.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKControlSegmentArrayLoop.html">AKControlSegmentArrayLoop</td>
 <td class='two-thirds'> Generate control signal consisting of linear segments delimited by two or more specified points.
</td>
</tr>
</table>

<h3> Subtractive Synthesis</h3>
<table><thead><th>Class</th><th>Description</th></tr></thead>

<tr>
<td class='one-third'><a href="/Classes/AKAdditiveCosines.html">AKAdditiveCosines</td>
 <td class='two-thirds'> Generate an additive set of harmonically related cosine partials of a fundamental frequency,
</td>
</tr>
</table>
