<table><thead><th>Class</th><th>Description</th></tr></thead>
<tr>
<td class='one-third'><a href="/Classes/AKAudioInput.html">AKAudioInput</td>
 <td class='two-thirds'> Reads monophonic audio data from an external device or stream.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKAudioOutput.html">AKAudioOutput</td>
 <td class='two-thirds'> Writes stereo audio data to an external device or stream.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFTablelooper.html">AKFTablelooper</td>
 <td class='two-thirds'> Function-table-based crossfading looper.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKFileInput.html">AKFileInput</td>
 <td class='two-thirds'> Reads stereo audio data from a file.
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKMonoFileInput.html">AKMonoFileInput</td>
 <td class='two-thirds'> Reads mono audio data from a file.
</td>
</tr>
</table>

<h3> Looping Oscillators</h3>

<table><thead><th>Class</th><th>Description</th></tr></thead>
<tr>
<td class='one-third'><a href="/Classes/AKLoopingOscillator.html">AKLoopingOscillator</td>
 <td class='two-thirds'> Read sampled sound (mono or stereo) from a table, with
</td>
</tr>
<tr>
<td class='one-third'><a href="/Classes/AKLoopingStereoOscillator.html">AKLoopingStereoOscillator</td>
 <td class='two-thirds'> Read sampled stereo sound from a table, with
</td>
</tr>
</table>
