
<div id="portfolio" class="portfolio-4 clearfix">
    <article class="portfolio-item pf-graphics pf-uielements">
        <div class="portfolio-image">
            <a href="#">
                <img src="/downloads/iOSStaticConfiguration.png" alt="Configuring AudioKit 2.1 as Static Library for iOS Apps">
            </a>
            <div class="portfolio-overlay">
                <a href="http://vimeo.com/125887234" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                <a href="/tutorials/ios/configuration" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="https://vimeo.com/125887234">Configuring AudioKit 2.1 as Static Library for iOS Apps</a></h3>
        </div>
    </article>

    <article class="portfolio-item pf-graphics pf-uielements">
        <div class="portfolio-image">
            <a href="#">
                <img src="/downloads/iOSDynamicConfiguration.png" alt="Configuring AudioKit 2.1 as Dynamic Library for iOS Apps">
            </a>
            <div class="portfolio-overlay">
                <a href="http://vimeo.com/125887566" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                <a href="/tutorials/ios/configuration" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="https://vimeo.com/125887566">Configuring AudioKit 2.1 as Dynamic Library for iOS Apps</a></h3>
        </div>
    </article>
    <article class="portfolio-item pf-graphics pf-uielements">
        <div class="portfolio-image">
            <a href="#">
                <img src="/downloads/OSXConfiguration.png" alt="AudioKit 2.1 Configuration for OSX Applications">
            </a>
            <div class="portfolio-overlay">
                <a href="http://vimeo.com/125886963" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                <a href="/tutorials/osx/configuration" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="https://vimeo.com/125886963">AudioKit 2.1 Configuration for OSX Applications</a></h3>
        </div>
    </article>
        <article class="portfolio-item pf-graphics pf-uielements">
        <div class="portfolio-image">
            <a href="#">
                <img src="/downloads/SwiftConfiguration.png" alt="Additional Steps When Using Swift">
            </a>
            <div class="portfolio-overlay">
                <a href="http://vimeo.com/126072511" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
                <a href="/tutorials/swift/configuration/" class="right-icon"><i class="icon-line-ellipsis"></i></a>
            </div>
        </div>
        <div class="portfolio-desc">
            <h3><a href="https://vimeo.com/126072511">Additional Steps When Using Swift</a></h3>
        </div>
    </article>
</div>
