<!--<div class="note">
<a><img src="/images/docset_icon.png" align=right></a>
  <h5>Audio Kit Doc Set</h5>

<p>Code completion, pop-ups, and sidebar information are automatically created in Xcode, but if you would like Apple-style API reference documentation, install the docset:</p>

<p><a href="https://www.dropbox.com/s/k357kav4xxf1072/io.audiokit.AudioKit.docset.tar.gz?dl=1">io.audiokit.AudioKit.docset.tar.gz</a>
<br>
(To install, unzip and place the resulting docset in your <code>~/Library/Developer/Shared/Documentation/DocSets/</code> folder.)
</p>
</div>
<br clear=all>
//-->