<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
        <li class="{% if page.permalink == '/examples/' %}current{% endif %}"><a href="/examples/">Sound Clips</a></li>
    </ul>

    <h4>Objective-C</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/ContinuousControl/' %}current{% endif %}"><a href="/examples/ContinuousControl/">Continuous Control</a></li>
      <li class="{% if page.permalink == '/examples/PlayAudioFile/' %}current{% endif %}"><a href="/examples/PlayAudioFile/">Play Audio File</a></li>
      <li class="{% if page.permalink == '/examples/Sequences/' %}current{% endif %}"><a href="/examples/Sequences/">Sequences</a></li>
      <li class="{% if page.permalink == '/examples/TouchRegions/' %}current{% endif %}"><a href="/examples/TouchRegions/">Touch Regions</a></li>
    </ul>

    <h4>Swift</h4>
    <ul>
      <li class="{% if page.permalink == '/examples/SwiftFMOscillator/' %}current{% endif %}"><a href="/examples/SwiftFMOscillator/">Swift FM Oscillator</a></li>
    </ul>
  </aside>
</div>
