<p>Included with AudioKit are numerous example projects.  There are examples for both Mac and iOS, and they are written in both Objective-C and Swift. In addition to the included examples, open-source projects that use AudioKit will also be highlighted here.</p> </p>


<!-- Portfolio Filter
============================================= -->
<ul id="portfolio-filter" class="clearfix">

    <li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
    <li><a href="#" data-filter=".pf-ios">iOS</a></li>
    <li><a href="#" data-filter=".pf-osx">OSX</a></li>
    <li><a href="#" data-filter=".pf-objc">Objective-C</a></li>
    <li><a href="#" data-filter=".pf-swift">Swift</a></li>
    <li><a href="#" data-filter=".pf-included">Included</a></li>
    <li><a href="#" data-filter=".pf-example">AK Example Repo</a></li>
    <li><a href="#" data-filter=".pf-external">External Project</a></li>
</ul><!-- #portfolio-filter end -->

<div id="portfolio-shuffle">
    <i class="icon-random"></i>
</div>

<div class="clear"></div>

<!-- Portfolio Items
============================================= -->
<div id="portfolio" class="clearfix">

    <article class="portfolio-item pf-ios pf-osx pf-objc pf-swift pf-included">
        <div class="portfolio-image">
            <a href="/examples/HelloWorld/">
                <img src="/examples/HelloWorld.png" alt="Hello World">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/HelloWorld/">Hello World!</a></h3>
            <span>A simple starter project</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-osx pf-objc pf-swift pf-included">
        <div class="portfolio-image">
            <a href="/examples/AudioKitDemo/">
                <img src="/examples/AudioKitDemo.png" alt="AudioKitDemo">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/AudioKitDemo/">AudioKitDemo</a></h3>
            <span>Synthesis, Processing, & Analysis</span>
        </div>
    </article>

<!--     <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/gallery/game-audio-space-cannon/">
                <img src="/gallery/space-cannon.png" alt="SpaceCannon">
            </a>
        </div>
        <div class="portfolio-overlay">
            <a href="//player.vimeo.com/video/116433756" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
            <a href="/gallery/game-audio-space-cannon/" class="right-icon"><i class="icon-line-ellipsis"></i></a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/gallery/game-audio-space-cannon/">Space Cannon</a></h3>
            <span>Game Audio Screencast</span>
        </div>
    </article> -->

    <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/blog/2015/03/10/physics-spritekit/">
                <img src="/examples/spritely.png" alt="Spritely">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/blog/2015/03/10/physics-spritekit/">Spritely</a></h3>
            <span>SpriteKit Physics Generated Sounds </span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/blog/2015/05/01/wheeltone/">
                <img src="/examples/wheeltone.png" alt="Spritely">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/blog/2015/05/01/wheeltone/">WheelTone</a></h3>
            <span>Music from Friction Gears in Swift</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/blog/2015/04/07/Particles/">
                <img src="/gallery/particles.png" alt="AudioKit Particles">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/blog/2015/04/07/Particles/">AudioKit Particles</a></h3>
            <span>Visualization of Microphone Input</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/blog/2015/11/23/pencil-synth/">
                <img src="/gallery/PencilSynth.png" alt="Pencil Synth">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/blog/2015/11/23/pencil-synth/">Pencil Synth</a></h3>
            <span>Using the Apple Stylus as a musical instrument</span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/TableDemo/">
                <img src="/examples/TableDemo.png" alt="Table Demo">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/TableDemo/">Table Demo</a></h3>
            <span>How to use tables for waveforms</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/BinauralAudio/">
                <img src="/examples/BinauralAudio.png" alt="Binaural Audio">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/BinauralAudio/">Binaural Audio</a></h3>
            <span>3D Spatializaiton of a sound source</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/Keyboard/">
                <img src="/examples/keyboard.png" alt="Keyboard">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/Keyboard/">Keyboard</a></h3>
            <span>An FM Synth with Tone Color & Reverb controls</span>
        </div>
    </article>

    <article class="portfolio-item pf-ios pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/TouchRegions/">
                <img src="/examples/TouchRegions.png" alt="Touch Regions">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/TouchRegions/">Touch Regions</a></h3>
            <span>A multi-touch gesture-controlled synth</span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/EffectsProcessorDemo/">
                <img src="/examples/EffectsProcessorDemo.png" alt="Effects Processor Demo">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/EffectsProcessorDemo/">Effects Processor Demo</a></h3>
            <span>Processes your iTunes Library</span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-osx pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/Convolution/">
                <img src="/examples/Convolution.png" alt="Convolution">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/Convolution/">Convolution</a></h3>
            <span>Reverb effect using  impulse response files</span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-osx pf-objc pf-swift pf-example">
        <div class="portfolio-image">
            <a href="/examples/ContinuousControl/">
                <img src="/examples/ContinuousControl.png" alt="Continuous Control">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/examples/ContinuousControl/">Continuous Control</a></h3>
            <span>FM synthesis, sequencing, & sliders</span>
        </div>
    </article>


    <article class="portfolio-item pf-ios pf-swift pf-external">
        <div class="portfolio-image">
            <a href="/blog/2015/01/11/pendulum-waves/">
                <img src="/examples/PendulaTone.png" alt="PendulaTone">
            </a>
        </div>
        <div class="portfolio-desc">
            <h3><a href="/blog/2015/01/11/pendulum-waves/">PendulaTone</a></h3>
            <span>The Sound of Pendulum Waves with Swift</span>
        </div>
    </article>






</div><!-- #portfolio end -->

<!-- Portfolio Script
============================================= -->
<script type="text/javascript">

    jQuery(window).load(function(){

        var $container = $('#portfolio');

        $container.isotope({ transitionDuration: '0.65s' });

        $('#portfolio-filter a').click(function(){
            $('#portfolio-filter li').removeClass('activeFilter');
            $(this).parent('li').addClass('activeFilter');
            var selector = $(this).attr('data-filter');
            $container.isotope({ filter: selector });
            return false;
        });

        $('#portfolio-shuffle').click(function(){
            $container.isotope('updateSortData').isotope({
                sortBy: 'random'
            });
        });

        $(window).resize(function() {
            $container.isotope('layout');
        });

    });

</script><!-- Portfolio Script End -->
