<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_two_third">

                <div class="col_one_third">

                    <div class="widget clearfix">


                    </div>

                </div>

                <div class="col_one_third">

                    <div class="widget widget_links clearfix">


                    </div>

                </div>

                <div class="col_one_third col_last">

                    <div class="widget clearfix">

                    </div>

                </div>

            </div>

            <div class="col_one_third col_last">

                <div class="widget clearfix" style="margin-bottom: -20px;">


                </div>

                <div class="widget subscribe-widget clearfix">

                </div>

                <div class="widget clearfix" style="margin-bottom: -20px;">


                </div>

            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

        <div class="container clearfix">



        </div>

    </div><!-- #copyrights end -->

</footer><!-- #footer end -->

<script src="/js/devices.js"></script>
