        <!-- Footer
        ============================================= -->
        <footer id="footer" class="dark" style="background: url('/images/footer-bg.jpg') repeat; background-size: 100% 100%;">

            <div class="container">

                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap clearfix">

                    <div class="col_two_third footer">

                        <div class="widget clearfix">

                            <img src="/images/footer-widget-logo.png" alt="footer-logo" class="alignleft" style="margin-top: 8px; padding-right: 18px; border-right: 1px solid #4A4A4A;">

                            <p>We are dedicated to building and supporting the most simple-to-learn, and yet most powerful toolkit for audio <strong>synthesis</strong>, <strong>processing</strong> and <strong>analysis</strong>.</p>

                            <div class="line" style="margin: 30px 0;"></div>

                            <p><strong>Latest News:</strong> <a href="/blog/">Fretuoso 6 Released, now powered by AudioKit</a></p>

                        </div>

                    </div>

                    <div class="col_one_third col_last footer">

                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-xs-6 bottommargin-sm">
                                    <div class="counter counter-small" style="color: #DCEAF8" id="watchers"></div>
                                    <h5 class="nobottommargin">Stars</h5>
                                </div>

                                <div class="col-xs-6 bottommargin-sm">
                                    <div class="counter counter-small" style="color: #CCDAE8" id="forks"></div>
                                    <h5 class="nobottommargin">Forks</h5>
                                </div>

                            </div>

                        </div>



                        <div class="widget clearfix" style="margin-bottom: -20px;">

                            <div class="row">

                                <div class="col-xs-6 clearfix bottommargin-sm">
                                    <a href="//twitter.com/AudioKitMan" class="social-icon si-dark si-colored si-twitter nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="//twitter.com/AudioKitMan"><small style="display: block; margin-top: 3px;"><strong>Follow us</strong><br>on Twitter</small></a>
                                </div>
                                <div class="col-xs-6 clearfix">
                                    <a href="https://github.com/audiokit/AudioKit" class="social-icon si-dark si-colored si-github nobottommargin" style="margin-right: 10px;">
                                        <i class="icon-github-alt"></i>
                                        <i class="icon-github-alt"></i>
                                    </a>
                                    <a href="https://github.com/audiokit/AudioKit"><small style="display: block; margin-top: 3px;"><strong>Fork us</strong><br>on GitHub</small></a>
                                </div>

                            </div>

                        </div>

                    </div>

                </div><!-- .footer-widgets-wrap end -->

            </div>

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights">

                <div class="container clearfix">

                    <div class="col_half">
                        <div class="copyrights-menu copyright-links clearfix">
                            <a href="/">Home</a>/<a href="/about/">About</a>/<a href="/press/">Press</a>/<a href="/downloads/">Downloads</a>/<a href="https://groups.google.com/forum/#!forum/audiokit">Forum</a>
                        </div>
                        AudioKit is © {{ site.time | date: '%Y' }} Aurelius Prochazka under the terms of the <a href="https://github.com/audiokit/AudioKit/blob/develop/LICENSE">MIT License</a>.
                    </div>

                    <div class="col_half col_last tright">
                        <div class="fright clearfix">

                            <a href="//twitter.com/AudioKitMan" class="social-icon si-small si-borderless nobottommargin si-twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="https://groups.google.com/forum/#!forum/audiokit" class="social-icon si-small si-borderless nobottommargin si-gplus">
                                <i class="icon-google"></i>
                                <i class="icon-google"></i>
                            </a>

                            <a href="https://vimeo.com/audiokit" class="social-icon si-small si-borderless nobottommargin si-vimeo">
                                <i class="icon-vimeo"></i>
                                <i class="icon-vimeo"></i>
                            </a>

                            <a href="https://github.com/audiokit/AudioKit" class="social-icon si-small si-borderless nobottommargin si-github">
                                <i class="icon-github-circled"></i>
                                <i class="icon-github-circled"></i>
                            </a>

                        </div>
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->


<script src="/js/devices.js"></script>
<script>
request = new XMLHttpRequest();
request.open('GET', "https://api.github.com/repos/audiokit/AudioKit", true);

request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    // Success!
    stats = JSON.parse(request.responseText);
    document.getElementById('watchers').innerHTML = stats.watchers_count;
    document.getElementById('forks').innerHTML = stats.forks_count;
  }
};

request.send();
</script>

