<div id="contributorsList">
<h2>Top Contributors</h2>

<p>
<div class="author-block">
<div id="pic1"     class="author-pic"></div>
<div id="name1"    class="author"></div>
<div id="contact1" class="author-contact"></div>
</div>

<div class="author-block">
<div id="pic2"     class="author-pic"></div>
<div id="name2"    class="author"></div>
<div id="contact2" class="author-contact"></div>
</div>

<div class="author-block">
<div id="pic3"     class="author-pic"></div>
<div id="name3"    class="author"></div>
<div id="contact3" class="author-contact"></div>
</div>

</p>
</div>

<script>
user_request = new XMLHttpRequest();
user_request.open('GET', "https://api.github.com/repos/audiokit/AudioKit/contributors", true);

user_request.onload = function() {
  if (user_request.status >= 200 && user_request.status < 400) {
    // Success!
    user_data = JSON.parse(user_request.responseText);
    index = 0;
    for (i=0; i<user_data.length; i++) {
        user = user_data[i]
        if (user.contributions > 30) {
            name = user.login
            url = ""

            // Active Contributors
            if (user.login == "aure") {name = "Aurelius Prochazka, Ph.D.";}
            if (user.login == "narner") {name = "Nick Arner";}
            if (user.login == "megastep") { name = "Stéphane Peter"}
            if (user.login == "aure") {url = "aure.com";}
            if (user.login == "narner") {url = "nickarner.com";}
            if (user.login == "megastep") {url = "catloafsoft.com";}
            index++;

            document.getElementById('pic'+(index)).innerHTML = '<img src="'+user.avatar_url+'">';
            document.getElementById('name'+(index)).innerHTML = name;
            document.getElementById('contact'+(index)).innerHTML = '<a href="http://'+url+'">'+url+'</a><br>' + user.contributions + ' Commits';
        }
    }
  }
};

user_request.send();
</script>

