<div id="contributorsList">
<h2>Top Contributors</h2>

<p>
<table><tr><td>
<div id="pic1"     class="author-pic"></div>
</td>
<td>
<div id="name1"></div>
<div id="contact1"></div>
<div id="desc1"></div>
</td></tr></table>
</p>

<p>
<table><tr><td>
<div id="pic2"     class="author-pic"></div>
</td>
<td>
<div id="name2"></div>
<div id="contact2"></div>
<div id="desc2"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic3"     class="author-pic"></div>
</td>
<td>
<div id="name3"></div>
<div id="contact3"></div>
<div id="desc3"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic4"     class="author-pic"></div>
</td>
<td>
<div id="name4"></div>
<div id="contact4"></div>
<div id="desc4"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic5" class="author-pic"></div>
</td>
<td>
<div id="name5"></div>
<div id="contact5"></div>
<div id="desc5"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic6"     class="author-pic"></div>
</td>
<td>
<div id="name6"></div>
<div id="contact6"></div>
<div id="desc6"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic7"     class="author-pic"></div>
</td>
<td>
<div id="name7"></div>
<div id="contact7"></div>
<div id="desc7"></div>
</td></tr></table>

</p><p>

<table><tr><td>
<div id="pic8"     class="author-pic"></div>
</td>
<td>
<div id="name8"></div>
<div id="contact8"></div>
<div id="desc8"></div>
</td></tr></table>

</p>



</p>
</div>

<script>
user_request = new XMLHttpRequest();
user_request.open('GET', "https://api.github.com/repos/audiokit/AudioKit/contributors", true);

user_request.onload = function() {
  if (user_request.status >= 200 && user_request.status < 400) {
    // Success!
    user_data = JSON.parse(user_request.responseText);
    index = 0;
    for (i=0; i<user_data.length; i++) {
        user = user_data[i]
        if (user.contributions > 0) {
            name = user.login
            url = ""

            // Active Contributors
            if (user.login == "aure") {
                name = "Aurelius Prochazka, Ph.D.";
                url = "aure.com";
                description = "Primary programmer of AudioKit. Lives for this stuff. Your life line if you need help.";
            }
            if (user.login == "eljeff") {
                name = "Jeff Cooper";
                url = "turntablearchives.com";
                description = "Rearchitected all things MIDI, sampler, and sequencer related in AudioKit 3.";
            }
            if (user.login == "swiftcodex") {
                name = "Matthew Fecher";
                url = "matthewfecher.com";
                description = "Sound design, graphic design, and programming of the Analog Synth X example.";
            }
            if (user.login == "megastep") {
                name = "Stéphane Peter";
                url = "catloafsoft.com";
                description = "Installation and configuration czar and code reviewer.";
            }
            if (user.login == "narner") {
                name = "Nick Arner";
                url = "nickarner.com";
                description = "Longtime contributor to AudioKit and AudioKit's web site.";
            }
            if (user.login == "PaulBatchelor") {
                name = "Paul Batchelor";
                url = "paulbatchelor.github.io";
                description = "The author of Soundpipe, and Sporth, which serve as two primary audio engines in AudioKit 3.";
            }
            if (user.login == "FlexMonkey") {
                name = "Simon Gladman";
                url = "flexmonkey.blogspot.com";
                description = "Longtime user of AudioKit, contributed his AudioKitParticles project to AudioKit 3.";
            }
            if (user.login == "laurentVeliscek") {
                name = "Laurent Veliscek";
                url = "https://github.com/laurentVeliscek/";
                description = "Master of the AKAudioFile, AKAudioPlayer, and recording nodes.";
            }

            if (user.login == "roecrew") {
                name = "Brandon Barber";
                url = "https://github.com/roecrew/";
                description = "Deep diver.  Contributed a lot of great pull requests.";
            }

            if (url != "") {
                index++;
                document.getElementById('pic'+(index)).innerHTML = '<img style="padding: 1em;" src="'+user.avatar_url+'">';
                document.getElementById('name'+(index)).innerHTML = '<b>'+name+'</b>';
                document.getElementById('desc'+(index)).innerHTML = description;

                document.getElementById('contact'+(index)).innerHTML = '<a href="http://'+url+'">'+url+'</a><br>' + user.contributions + ' Commits';
            }
        }
    }
  }
};

user_request.send();
</script>

