<div id="contributorsList">
<h2>Top Contributors</h2>

<p>
<div class="author-block">
<div id="pic1"     class="author-pic"></div>
<div id="name1"    class="author"></div>
<div id="contact1" class="author-contact"></div>
</div>

<div class="author-block">
<div id="pic2"     class="author-pic"></div>
<div id="name2"    class="author"></div>
<div id="contact2" class="author-contact"></div>
</div>

<div class="author-block">
<div id="pic3"     class="author-pic"></div>
<div id="name3"    class="author"></div>
<div id="contact3" class="author-contact"></div>
</div>
</p>
</div>

<script>
request = new XMLHttpRequest();
request.open('GET', "https://api.github.com/repos/audiokit/AudioKit/contributors", true);

request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    // Success!
    data = JSON.parse(request.responseText);

    for (i=0; i<data.length; i++) {
        user = data[i]
        if (user.contributions > 2) {
            name = user.login
            url = ""
            if (user.login == "aure") {name = "Aurelius Prochazka, Ph.D.";}
            if (user.login == "adambmedia") {name = "Adam Boulanger, Ph.D.";}
            if (user.login == "narner") {name = "Nick Arner";}
            if (user.login == "aure") {url = "aure.com";}
            if (user.login == "adambmedia") {url = "adamboulanger.com";}
            if (user.login == "narner") {url = "nickarner.com";}
            console.log(name);
            console.log(url);
            console.log(user.contributions);
            console.log(user.avatar_url);
            console.log('pic'+(i+1))

            document.getElementById('pic'+(i+1)).innerHTML = '<img src="'+user.avatar_url+'">';
            document.getElementById('name'+(i+1)).innerHTML = name;
            document.getElementById('contact'+(i+1)).innerHTML = '<a href="http://'+url+'">'+url+'</a><br>' + user.contributions + ' Commits';
        }
    }
  }
};

request.send();
</script>

