<ul>
  <li class="{% if page.url contains '/features/' %}current{% endif %}">
    <a href="/features/"><div>Features</div></a>
  </li>
  <li class="{% if page.url contains '/gallery/' %}current{% endif %}">
    <a href="/gallery/"><div>Gallery</div></a>
  </li>
  <li class="{% if page.url contains '/examples/' %}current{% endif %}">
    <a href="/examples/"><div>Examples</div></a>
  </li>
  <li class="{% if page.url contains '/tutorials/' %}current{% endif %}">
    <a href="/tutorials/"><div>Tutorials</div></a>
  </li>
  <li class="{% if page.section == 'docs' %}current{% endif %}">
    <a href="/docs/"><div>Docs</div></a>
  </li>
  <li class="{% if page.permalink == '/blog/' %}current{% endif %}">
    <a href="/blog/"><div>Blog</div></a>
  </li>
</ul>
