<ul>
    <li class="{% if page.url contains '/features/' %}current{% endif %}">
    <a href="http://audiokitpro.com"><div>Features</div><span>Blog and News</span></a>
  </li>
  <li class="{% if page.url contains '/playgrounds/' %}current{% endif %} mega-menu">
    <a href="/playgrounds/"><div>Playgrounds</div><span><i class="icon-bolt2"></i> Live Coding!</span></a>
  </li>
  <li class="{% if page.url contains '/examples/' %}current{% endif %}">
    <a href="/examples/"><div>Examples</div><span>Sample Apps</span></a>
  </li>
  <li class="{% if page.url contains '/audiobus/' %}current{% endif %}">
    <a href="/audiobus/"><div>Audiobus</div><span>Inter-App Audio</span></a>
  </li>
 <!-- <li class="{% if page.section == 'docs' %}current{% endif %} mega-menu">
    <a href="/docs/" target="_blank"><div>Docs</div><span><i class="icon-code"></i></span></a>
  </li> -->
  <li class="{% if page.permalink == '/tests/' %}current{% endif %}">
    <a href="http://audiokit.io/tests/"><div>Tests</div><span>Unit & C.I.</i></span></a>
  </li>
  <li class="{% if page.url contains '/downloads/' %}current{% endif %}">
    <a href="/downloads/"><div>Download</div><span><i class="icon-code-fork"></i>us on <i class="icon-github-circled"></i></span></a>
  </li>
</ul>
