<p><h3>Editing Audio Files
</h3> Let&#39;s have some fun with our drum loop</p>

{% highlight ruby %}import AudioKitPlaygrounds
import AudioKit

{% endhighlight %}
<p>First load the drumloop</p>

{% highlight ruby %}
let loop = try AKAudioFile(readFileName: "drumloop.wav")

{% endhighlight %}
<p>You may have noticed that the drumloop doesn&#39;t loop so well. Let&#39;s fix this...</p>

{% highlight ruby %}let fixedLoop = try loop.extracted(fromSample: 0, toSample: Int64(3.42 * 44_100))

{% endhighlight %}
<p>Now out drumloop is one bar long and perfectly loops. Let&#39;s extract the kick,
 the snare and hihat into sixteenth note long files:</p>

{% highlight ruby %}let oneBarLength = fixedLoop.samplesCount

let oneSixteenthLength = oneBarLength / 16

let kick = try  fixedLoop.extracted(fromSample: 0, toSample: oneSixteenthLength)
let snare = try fixedLoop.extracted(fromSample: oneSixteenthLength * 4,
                                    toSample: oneSixteenthLength * 5)
let hihat = try fixedLoop.extracted(fromSample: oneSixteenthLength * 2,
                                    toSample: oneSixteenthLength * 3)

{% endhighlight %}
<p>Notice that we don&#39;t provide any name or location for those files (in fact, we don&#39;t care...)
 If no name / location are set, files will be created in temp directory with a unique name.
 But you could choose name and location if you wish. Let&#39;s check this:</p>

{% highlight ruby %}
let kickFileName = kick.fileNamePlusExtension
let kickFilePath = kick.directoryPath

{% endhighlight %}
<p>I love hihat, so normalize our Hihat sample so it will be as loud as other instruments...</p>

{% highlight ruby %}let normalizedHihat = try hihat.normalized()

{% endhighlight %}
<p>Why not making some new files by reversing them</p>

{% highlight ruby %}let reverseKick = try kick.reversed()
let reverseSnare = try snare.reversed()
let reverseHihat = try normalizedHihat.reversed()

// A sixteenth note silence could be handy...
let silence = try AKAudioFile.silent(samples: oneSixteenthLength)

{% endhighlight %}
<p>Now, we put all them in an array so we can later randomly pick samples.
 Some are doubled so they&#39;ll have more luck to be picked.</p>

{% highlight ruby %}
let samplesBox: [AKAudioFile] = [kick, snare, kick, snare, kick, snare,
                                 normalizedHihat, reverseKick, reverseSnare, reverseHihat,
                                 silence, silence, silence, silence, silence]

{% endhighlight %}
<p>Now, we&#39;ll play the original loop three times,</p>

{% highlight ruby %}let threeTimesLoop = try fixedLoop.appendedBy(file: fixedLoop)
var sequence = try threeTimesLoop.appendedBy(file: fixedLoop)
{% endhighlight %}
<p>Next, we append a random sequence of 16 sixteenth of audio to build our random drum solo...</p>

{% highlight ruby %}
for i in 0..<16 {
    let newSampleIndex = (0..<samplesBox.count).randomElement()
    let newSound = samplesBox[newSampleIndex]
    print("picked sample #\(newSampleIndex) name: \(newSound.fileNamePlusExtension)")
    var newFile = try sequence.appendedBy(file: newSound)
    sequence = newFile
}

{% endhighlight %}
<p>Each time you&#39;ll run this playground, the resulting audioFile will be different.
 Let&#39;s listen to our edited audiofile: Original Loop 3 times,
 followed by the &quot;drum solo of the day&quot;...</p>

{% highlight ruby %}
let sequencePlayer = try AKAudioPlayer(file: sequence)
sequencePlayer.looping = true

AudioKit.output = sequencePlayer
try AudioKit.start()
sequencePlayer.play()

import PlaygroundSupport
PlaygroundPage.current.needsIndefiniteExecution = true
{% endhighlight %}
