<h2>Playback Playgrounds
</h2>

<h3>Working with AKAudioFile:
</h3>

<ul>
<li><a href="Audio%20Player">Audio Player</a></li>
<li><a href="Sample%20Player">Sample Player</a> (New in AudioKit 3.7)</li>
<li><a href="Editing%20Audio%20Files">Editing Audio Files</a></li>
<li><a href="Exporting%20Files">Exporting Files</a></li>
<li><a href="Processing%20Audio%20File%20Asynchronously">Processing Audio File Asynchronously</a></li>
<li><a href="Reading%20and%20Writing%20Audio%20Files">Reading and Writing Audio Files</a></li>
</ul>

<h3>MIDI
</h3>

<ul>
<li><a href="MIDI%20Input">MIDI Input</a></li>
<li><a href="MIDI%20Output">MIDI Output</a></li>
<li><a href="MIDI%20Scale%20Quantizer">MIDI Scale Quantizer</a></li>
<li><a href="MIDI%20Chord%20Generator">MIDI Chord Generator</a></li>
</ul>

<h3>Playback pitch and speed
</h3>

<ul>
<li><a href="Phase-Locked%20Vocoder">Phase-Locked Vocoder</a></li>
<li><a href="Playback%20Speed">Playback Speed</a></li>
<li><a href="Time%20Stretching%20and%20Pitch%20Shifting">Time Stretching and Pitch Shifting</a></li>
</ul>

<h3>Recording
</h3>

<ul>
<li><a href="Recording%20Nodes">Recording Nodes</a></li>
</ul>

<h3>Sequencing
</h3>

<ul>
<li><a href="Sampler">Sampler</a></li>
<li><a href="Sequencer">Sequencer</a></li>
</ul>
