$red: #b01400;
$brown: #3D1C00;

$brand-color: $brown;

/* AK */

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.mobile-iphone-movie {
  width: 90%;
  max-width: 302px;
  text-align: center;
  border: 0;
}

img.mobile-macbook-movie {
  width: 90%;
  max-width:302px;
  text-align: center;
  border: 0;
}

.audioKit {
  color: $brand-color;
  -webkit-transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
  &:hover {
    color: $red;
  }
}
.rotate {
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.rotate:hover {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform:  rotate(-90deg);
  transform:  rotate(-90deg) ;
}

iframe {
  margin-top: 20px;
  margin-bottom: 50px;
}

img.screenshot {
    -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
  box-shadow: 0 10px 20px rgba(0,0,0,0);
}

img.homepage {
  width: 100%;
  max-width: 344px;
  margin-bottom: 10px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
  box-shadow: 0 10px 20px rgba(0,0,0,0);
}

.iphoneShadow {
}

iframe.gallery-movie {
  border: 1px solid black;
    -webkit-box-shadow: 0 4px 20px rgba(0,0,0,.4);
  -moz-box-shadow: 0 4px 20px rgba(0,0,0,.4);
  box-shadow: 0 4px 20px rgba(0,0,0,.4);
}

.cd-iphone5.iphoneMinimal {
  border-color: #FFF;
  background-color: #FFF;
}



.author-pic img {
  width: 200px;
  height: 200px;
  padding: 2em;
}

.parameters {
  margin-left: 20px;
}

.subtitle-overview {
  display: none;
}

.primary-row td{
  background-color: #ccc;
}

img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 20px rgba(0,0,0,.4);
  -moz-box-shadow: 0 4px 20px rgba(0,0,0,.4);
  box-shadow: 0 4px 20px rgba(0,0,0,.4);
}

a img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0);
  box-shadow: 0 10px 20px rgba(0,0,0,0);
}


/* @group Tasks section */

.task-list, .section-overview {
  list-style-type: none;
  margin-top: 2.3em;
  background: #333;
  padding: 1em;
  background-color: #fff;
  margin: .5em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 2em;
}

.task-list li {
  margin-bottom: 3px;
}

.task-list li span.tooltip code a {
  color: #36c;
  word-wrap: break-word;
  word-break: break-all;
}

.task-item-suffix {
  color: #996;
  font-size: 16px;
  font-style: italic;
  margin-left: 0.5em;
}

span.tooltip span.tooltip {
  font-size: 1.0em;
  display: none;
  padding: 0.3em;
  border: 1px solid #aaa;
  background-color: #fdfdc8;
  color: black;
  text-align: left;
}

span.tooltip:hover span.tooltip {
  display: block;
  position: absolute;
  margin-left: 2em;
}

.declared-in-section {
  display: none;
}

/* @group Method section */

.section-method {
  margin-top: 2.3em;
  padding: 0.2em 1em 1em 1em;
  width: 100%;
  background-color: #fff;
  margin: .5em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 2em;
  > h3 {
    margin-top: 1em;
  }
  dl {
    margin-top: 20px;
  }
  dt {
    margin-bottom: 20px;
  }
}

.method-title {
  word-wrap: break-word;
  word-break: break-all;
}

.method-declaration code, .parameter-def dt em {
  padding: 0.5em;
  font-face: Courier, Consolas, monospace;
  background: #e2e2e2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
      border: 1px solid #bdbdbd;
}

.parameter-def dt em {
  color: black;
}

.argument-def {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.argument-def dd {
  margin-left: 1.25em;
}

.see-also-section ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0;
}

.see-also-section li {
  margin-bottom: 3px;
}

#tocContainer.hideInXcode {
  display: none;
  border: 0px solid #333;
}

#top_header.hideInXcode {
  display: none;
}

#contents.hideInXcode {
  border: 0px solid #333;
  top: 0px;
  left: 0px;
}

.section-specification .specification-title {
  font-weight: bold;
  color: white;
  background-color: #227bf9;
}

/* @end */
