/* Color Variables */

$xcode-blue-color: #227bf9;

/* Function Variable */

$link-color: #060;
$hover-color: #666;

$bright-hover-color: #fc3;
$bright-link-color: #6f6;

$dark-color: #333;

$code-bg-color: #fff;
$code-color: #000;

/* Placement Variables */

$gutter-color: #444;
$article-text-color: #000;
$text-bg-color: #f6f6f6;

$note-code-bg-color: #fff;
$note-text-color: #fff;
$info-text-color: $article-text-color;

$top-border-color: $link-color;

$aside-text-color: #fff;
$aside-link-color: $bright-link-color;
$aside-hover-color: $bright-hover-color;


$nav-bg-color: $dark-color;
$nav-link-color: $bright-link-color;
$nav-hover-bg-color: #ccc;
$nav-hover-link-color: #333;

$current-nav-bg-color: $text-bg-color;
$current-nav-link-color: $article-text-color;

$note-color: white;
$warning-color: $link-color;


$section-nav-link-color: $article-text-color;
$section-nav-bg-color: #222;
$section-nav-hover-bg-color: white;
$section-nav-hover-text-color: #fff;


$footer-text-color: $article-text-color;
$footer-bg-color: #666;


/* Base */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 300 21px Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $article-text-color;
  background-color: $gutter-color;
  border-top: 5px solid $top-border-color;
  -webkit-box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
  box-shadow: inset 0 3px 30px rgba(0,0,0,.3);
  text-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.clear {
  display: block;
}

.clear:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Sections */

header, section, footer {
  float: left;
  width: 100%;
  clear: both;
}

/* Header */

header h1, header nav {
  display: inline-block;
}

header h1  {
  display: block;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
}

.main-nav {
  margin-top: 12px;
}

.main-nav li {
  margin-right: 10px;
}

.note a {
  color: $nav-link-color;
}

.main-nav li a {
  color: $nav-link-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-weight: 900;
  font-size: 14px;
  padding: 0.5em 1em;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

.main-nav li a:hover {
  background-color: $nav-hover-bg-color;
  color: $nav-hover-link-color;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(255,255,255,.1);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.main-nav li.current a {
  background-color: $current-nav-bg-color;
  color: $current-nav-link-color;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.mobile-nav ul {
  overflow: hidden;
  width: 100%;
  display: table;
}

.mobile-nav a {
  float: left;
  width: 100%;
  background-color: $gutter-color;
  color: $nav-link-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mobile-nav .current a {
  background-color: $current-nav-bg-color;
  color: $nav-link-color;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5), 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 0 rgba(255,255,255,.3);
}

.mobile-nav li {
  display: table-cell;
  width: 20%;
  padding: 8px 2px;
}

@media (max-width: 768px) {
  .main-nav ul {
    text-align: right;
  }
}
@media (max-width: 830px) {
  .main-nav .show-on-mobiles {
    display: inline;
  }
  .main-nav .hide-on-mobiles {
    display: none;
  }
}

/* Footer */

footer {
  background-color: $footer-bg-color;
  font-size: 16px;
  padding-bottom: 5px;
  color: $footer-text-color;
  margin-top: 40px;
}

footer a {
  color: $footer-text-color;
}

footer .align-right p, footer img {
  display: inline-block;
}

footer img {
  position: relative;
  top: 8px;
  margin-left: 5px;
  opacity: .8;
  padding: 1px;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

footer a:hover img {
  opacity: 1;
}

@media (max-width: 568px) {
  footer .one-third p {
    margin-bottom: 0;
  }
  footer .two-thirds p {
    margin-top: -20px;
  }
}

/* Intro */

.intro .unit {
  padding: 10px 0 40px;
}

.intro p {
  font-size: 1.75em;
  line-height: 1em;
  margin: 0;
}

@media (min-width: 569px) {
  .intro p {
    font-size: 3.2em;
  }
}


/* Article - Used for both docs and news */


article {
  background-color: $text-bg-color;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  margin: 0 10px;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,.1);
  box-shadow: 0 3px 10px rgba(0,0,0,.1);
  font-size: 16px;
}

@media (max-width: 480px) {
  article ul {
    padding-left: 20px;
  }
}

@media (max-width: 568px) {
  article {
    margin: 0;
  }
}

@media (min-width: 768px) {
  article {
    padding: 40px 40px 30px;
    font-size: 21px;
  }
}

/* Right-side nav - used by both docs and news */

aside {
  padding-top: 30px;
}

aside h4 {
  color: $aside-text-color;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  padding: 0 0 10px 30px;
  margin-left: -30px;
  display: inline-block;
  border-bottom: 1px solid #c00;
}

aside ul {
  padding-left: 0;
}

aside ul:first-child {
  margin-top: 0;
}

aside li {
  list-style-type: none;
}

aside li a {
  color: $aside-link-color;
  font-size: 16px;
  position: relative
}
aside li a:hover {
  color: $aside-hover-color;
}

aside li.current a {
  color: $text-bg-color;
}

aside li.current a:before {
  content: "";
  border-color: transparent transparent transparent $text-bg-color;
  border-style: solid;
  border-width: 10px;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -30px;
}

/* Documentation */

.docs article {
  min-height: 800px;
}

.docs .content {
  padding: 0;
}

.section-nav {
  text-align: center;
  padding-top: 40px;
  position: relative;
  background: url(../img/article-footer.png) top center no-repeat;
  margin: 40px -20px 10px;
}

.section-nav > div {
  width: 49.5%;
}

.section-nav a, .section-nav span {
  color: $section-nav-link-color;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 8px 12px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*border: 1px solid $gutter-color;*/
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
  box-shadow: 0 1px 3px rgba(0,0,0,.3), inset 0 1px 1px rgba(255,255,255,.5);
  background-color: $section-nav-bg-color;
}

.section-nav a:hover {
  color: $section-nav-hover-text-color;
  background-color: $section-nav-hover-bg-color;
}

.section-nav .next, .section-nav .prev {
  position: relative;
}

.section-nav .next:after, .section-nav .prev:before {
  font-size: 36px;
  color: $section-nav-link-color;
  font-weight: 900;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
  position: absolute;
  top: -7px;
}

.section-nav .next:after {
  content: '\203A';
  right: 10px;
}

.section-nav .prev:before {
  content: '\2039';
  left: 10px;
}

.section-nav .prev, .section-nav .prev:hover {
  /*float: left;*/
  padding-left: 30px;
}

.section-nav .next, .section-nav .next:hover {
  /*float: right;*/
  padding-right: 30px;
}

.section-nav .disabled {
  opacity: .5;
  /*filter: alpha*/
  cursor: default;
}

.docs-nav-mobile select {
  color: #000;
  width: 100%;
}



/* Code Highlighting */


pre, code {
/*  white-space: pre; */
  display: inline-block;
  margin: 0;
  font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
  padding: 0 0.5em;
}

@media (min-width: 768px) {
  pre, code {
    font-size: 16px;
  }
}

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
  background-color: $code-bg-color;
  color: $code-color;
/*  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; */
  border: 1px solid #666
}

.note code {
  background-color: $note-code-bg-color;
/*  background-color: rgba(0,0,0,0.2); */
  margin-left: 2.5px;
  margin-right: 2.5px;
  font-size: 0.8em;
}

.highlight {
  margin: 1em 0;
  padding: 10px 0;
  overflow: auto;
}

/* HTML Elements */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}



a {
  color: $link-color;
  text-decoration: none;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}
article a {
    font-weight: bold;
}

a:hover {
  color: $hover-color;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.5em;
}

.left { float: left; }
.right { float: right; }
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Article HTML */

article h2,
article h3,
article h4,
article h5,
article h6 {
  margin: 1em 0;
}

article h4 {
  color: $article-text-color;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

article ul li p {
  margin: 0;
}

article ul li, article ol li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

article ul li blockquote {
  margin: 10px 0;
}

blockquote {
  border-left: 2px solid #777;
  padding-left: 20px;
  font-style: italic;
  font-size: 18px;
  font-weight: 500;
}


/* Tables */

table {
  width: 100%;
  background-color: white;
  margin: .5em 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.3);
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 2em;
}

thead {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  color: white;
  background-color: $xcode-blue-color;
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#1e1e1e));
  background-image: -webkit-linear-gradient(top,                         #3a3a3a 0%,  #1e1e1e 100%);
  background-image: -moz-linear-gradient(top,                            #3a3a3a 0%,  #1e1e1e 100%);
  background-image: -o-linear-gradient(top,                              #3a3a3a 0%,  #1e1e1e 100%);
  background-image: linear-gradient(to bottom,                           #3a3a3a 0%,  #1e1e1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#1e1e1e',GradientType=0 ); */
}

thead th {
  position: relative;
/*  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1); */
}

thead th:first-child {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
}

thead th:last-child {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

td {
  padding: .5em .75em;
}

td p {
  margin: 0;
}

th {
  text-transform: uppercase;
  font-size: 16px;
  padding: .5em .75em;
  text-shadow: 0 -1px 0 rgba(0,0,0,.9);
  color: white;
}

tbody td {
  color: $article-text-color;
  border-top: 1px solid #747474;
  border-top: 1px solid rgba(0,0,0,.1);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
/*  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.9)), to(rgba(255,255,255,0.5)));
  background-image: -webkit-linear-gradient(top,                         rgba(255,255,255,0.9) 0%,  rgba(255,255,255,0.5) 100%);
  background-image: -moz-linear-gradient(top,                            rgba(255,255,255,0.9) 0%,  rgba(255,255,255,0.5) 100%);
  background-image: -o-linear-gradient(top,                              rgba(255,255,255,0.9) 0%,  rgba(255,255,255,0.5) 100%);
  background-image: linear-gradient(to bottom,                           rgba(255,255,255,0.9) 0%,  rgba(255,255,255,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#00ffffff',GradientType=0 ); */
}

td p {
  font-size: 16px;
}

td p code {
  font-size: 14px;
}

code.option, th .option, code.filter, th .filter {
  color: #50B600;
}

code.flag, th .flag, code.output, th .output {
  color: #049DCE;
}

code.option, code.flag, code.filter, code.output {
  margin-bottom: 2px;
}

/* Note types */

.note {
  margin: 30px 0;
  margin-left: -30px;
  padding: 20px 20px 24px;
  padding-left: 50px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.3);
  color: $note-text-color;
  background-color:                                                      #999;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999),        to(#666));
  background-image: -webkit-linear-gradient(top,                         #999 0%,         #666 100%);
  background-image: -moz-linear-gradient(top,                            #999 0%,         #666 100%);
  background-image: -o-linear-gradient(top,                              #999 0%,         #666 100%);
  background-image: linear-gradient(to bottom,                           #999 0%,         #666 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=    '#999', endCo999='#666',GradientType=0 );
}

@media (max-width: 568px) {
  .note {
    margin-right: -30px;
  }
}

@media (min-width: 768px) {
  .note {
    margin-left: -50px;
  }
}

.note:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  border-color: transparent #222 #222 transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.note h5, .note p {
  margin: 0;
  color: $note-text-color;
}

.note h5 {
  line-height: 1.5em;
  font-weight: 900;
  font-style: normal;
}

.note p {
  font-weight: 400;
  font-size: .75em;
}

.info {
  background-color: #0389aa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f));
  background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%);
  background-image: linear-gradient(to bottom, #0389aa 0%,#00617f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0389aa', endColorstr='#00617f',GradientType=0 );
}

.warning {
  background-color: #9e2812;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
  background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
  background-image: linear-gradient(to bottom, #9e2812 0%,#6f0d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2812', endColorstr='#6f0d0d',GradientType=0 );
}

.unreleased {
  background-color: #cd9239;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(205,146,57,1)), to(rgba(162,117,40,1)));
  background-image: -webkit-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -moz-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: -o-linear-gradient(top, rgba(205,146,57,1) 0%, rgba(162,117,40,1) 100%);
  background-image: linear-gradient(to bottom, rgba(205,146,57,1) 0%,rgba(162,117,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cd9239', endColorstr='#a27528',GradientType=0 );
}

.info:before {
  border-color: transparent #00617f #00617f transparent;
}

.warning:before {
  border-color: transparent #6f0d0d #6f0d0d transparent;
}

.unreleased:before {
  border-color: transparent #664719 #664719 transparent;
}

.note:after {
  content: '\2605';
  color: $note-color;
  position: absolute;
  top: 14px;
  left: 14px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.info:after {
  content: '\24D8';
  color: $info-text-color;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.warning:after {
  content: '\203C';
  color: $warning-color;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 32px;
  font-weight: 700;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.unreleased:after {
  content: '\2692';
  color: #2b2a12;
  position: absolute;
  top: 8px;
  left: 15px;
  font-size: 38px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(255,255,255,.25);
}

/* Responsive tables */

@media (max-width: 768px) {
  .mobile-side-scroller {
    overflow-x: scroll;
    margin: 0 -40px;
    padding: 0 10px;
  }
}
