<p><h3>Rolling Output Plot
</h3>  If you open the Assitant editor and make sure it shows the
 &quot;Rolling Output Plot.xcplaygroundpage (Timeline) view&quot;,
 you should see a plot of the amplitude peaks scrolling in the view</p>

{% highlight ruby %}import AudioKitPlaygrounds
import AudioKit

let file = try AKAudioFile(readFileName: "drumloop.wav")

let player = try AKAudioPlayer(file: file)
player.looping = true

var variSpeed = AKVariSpeed(player)
variSpeed.rate = 2.0

AudioKit.output = variSpeed
AudioKit.start()
player.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}import AudioKitUI

class LiveView: AKLiveViewController {

    override func viewDidLoad() {
        addTitle("Playback Speed")

        addView(AKSlider(property: "Rate", value: variSpeed.rate, range: 0.312_5 ... 5) { sliderValue in
            variSpeed.rate = sliderValue
        })

        addView(AKRollingOutputPlot.createView())
    }
}

import PlaygroundSupport
PlaygroundPage.current.needsIndefiniteExecution = true
PlaygroundPage.current.liveView = LiveView()
{% endhighlight %}
