<h2>Analysis Playgrounds
</h2>

<h3>Plotting
</h3>

<p>Playgrounds are a very visually compelling interface and you create a few
 different ways  of seeing what is happening to your audio signal.</p>

<ul>
<li><a href="Output%20Waveform%20Plot">Output Waveform Plot</a></li>
<li><a href="Rolling%20Output%20Plot">Rolling Output Plot</a></li>
<li><a href="Node%20Output%20Plot">Node Output Plot</a></li>
<li><a href="Node%20FFT%20Plot">Node FFT Plot</a></li>
</ul>

<h3>Audio Analysis
</h3>

<ul>
<li><a href="FFT%20Analysis">FFT Analysis</a></li>
<li><a href="Tracking%20Amplitude">Tracking Amplitude</a></li>
<li><a href="Tracking%20Frequency">Tracking Frequency</a></li>
<li><a href="Tracking%20Frequency%20of%20Audio%20File">Tracking Frequency of Audio File</a></li>
<li>Tracking Microphone Input appears in the macOS Development playground since iOS playgrounds don&#39;t have access to the micorphone</li>
</ul>

{% highlight ruby %}
{% endhighlight %}
