<h3>Tracking Microphone Input
</h3>

{% highlight ruby %}import AudioKitPlaygrounds
import AudioKit

let mic = AKMicrophone()
let micBooster = AKBooster(mic, gain: 4.0)

let lowPassFilter = AKLowPassFilter.init(micBooster, cutoffFrequency: 300, resonance: 0)

let recorder = try? AKNodeRecorder(node: lowPassFilter)

let player = try? AKAudioPlayer(file: (recorder?.audioFile)!)
player?.looping = true
//player?.completionHandler = playingEnded


let tracker = AKFrequencyTracker.init(lowPassFilter, hopSize: 0, peakCount: 100)

let silence = AKBooster(tracker, gain: 0)


AudioKit.output = silence
AudioKit.start()
import PlaygroundSupport
PlaygroundPage.current.needsIndefiniteExecution = true
//PlaygroundPage.current.liveView = PlaygroundView()
{% endhighlight %}
