---
title: Audio Kit Tutorials
header: Tutorials
permalink: /tutorials/
layout: tutorials
---


<div class="cd-mobile cd-5s-silver iphoneShadow hide-on-mobiles" style="margin-left: 1em; float: right">
  <div class="cd-cam"></div>
  <div class="cd-ear"></div>
  <div class="cd-home"></div>
  <div class="cd-screen">
    <video controls class="cd-fill">
      <source src="http://www.hearforyourself.com/movies/FirstTutorial.m4v" type="video/mp4">
    Your browser does not support the video tag.
    </video>
  </div>
</div>


<p>In this set of tutorials you will build the app you see demonstrated on the iPhone on this page. It will take you from setting up Audio Kit, building an instrument, and tying the instrument's properties to user interface elements.  Since Apple has launched Swift we've created tutorials for creating iOS apps using Audio Kit in both Objective-C and Swift. </p>

<h4>Objective-C Tutorials</h4>
<ul>
  <li class="{% if page.permalink == '/tutorials/getting-started/' %}current{% endif %}"><a href="/tutorials/getting-started/">Getting Started</a></li>
  <li class="{% if page.permalink == '/tutorials/first-instrument/' %}current{% endif %}"><a href="/tutorials/first-instrument/">Coding Your First Instrument</a></li>
  <li class="{% if page.permalink == '/tutorials/user-interaction/' %}current{% endif %}"><a href="/tutorials/user-interaction/">Adding UI Controls</a></li>
</ul>

<h4>Swift Tutorials</h4>
<ul>
  <li class="{% if page.permalink == '/tutorials/swift/getting-started/' %}current{% endif %}"><a href="/tutorials/swift/getting-started/">Getting Started in Swift</a></li>
  <li class="{% if page.permalink == '/tutorials/swift/first-instrument/' %}current{% endif %}"><a href="/tutorials/swift/first-instrument/">Coding Your First Swift Instrument</a></li>
  <li class="{% if page.permalink == '/tutorials/swift/user-interaction/' %}current{% endif %}"><a href="/tutorials/swift/user-interaction/">Adding UI Controls</a></li>
</ul>

<h4>Advanced Tutorials</h4>
<ul>
  <li class="{% if page.permalink == '/tutorials/contributing/' %}current{% endif %}"><a href="/tutorials/contributing/">Contributing to Audio Kit</a></li>
</ul>
