<h3>Low Shelf Filter
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

let audiokit = AKManager.sharedInstance

{% endhighlight %}
<p>This section prepares the player and the microphone</p>

{% highlight ruby %}var mic = AKMicrophone()
mic.volume = 0
let micWindow = AKMicrophoneWindow(mic)

let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("mixloop", ofType: "wav")
var player = AKAudioPlayer(file!)
player.looping = true
let playerWindow = AKAudioPlayerWindow(player)

{% endhighlight %}
<p>Next, we&#39;ll connect the audio sources to a low shelf filter</p>

{% highlight ruby %}let inputMix = AKMixer(mic, player)
var lowShelfFilter = AKLowShelfFilter(inputMix)

{% endhighlight %}
<p>Set the parameters of the low-shelf filter here</p>

{% highlight ruby %}lowShelfFilter.cutoffFrequency = 80 // Hz
lowShelfFilter.gain = 0 // dB

var lowShelfFilterWindow = AKLowShelfFilterWindow(lowShelfFilter)

audiokit.audioOutput = lowShelfFilter
audiokit.start()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
