<p><h3>Sampler Instrument - EXS24
</h3><h4>Loading a sampler with an EXS24 instrument
</h4></p>

{% highlight ruby %}
import XCPlayground
import AudioKit

let audiokit = AKManager.sharedInstance

let pulse = 0.5 // seconds

{% endhighlight %}
<p>We are going to load an EXS24 instrument and send it random notes</p>

{% highlight ruby %}
let sampler = AKSampler()

{% endhighlight %}
<p>Here is where we reference the EXS24 file as it is in the app bundle</p>

{% highlight ruby %}sampler.loadEXS24("Sounds/sawPiano1")

var delay  = AKDelay(sampler)
delay.time = pulse * 1.5
delay.dryWetMix = 0.3
delay.feedback = 0.2

let reverb = AKReverb(delay)

{% endhighlight %}
<p>Connect the sampler to the main output</p>

{% highlight ruby %}audiokit.audioOutput = reverb
audiokit.start()

{% endhighlight %}
<p>This is a loop to send a random note to the sampler
 The sampler &#39;playNote&#39; function is very useful here</p>

{% highlight ruby %}AKPlaygroundLoop.start(every: pulse) { timer in
    let scale = [0,2,4,5,7,9,11,12]
    var note = scale.randomElement()
    let octave = randomInt(3...7)  * 12
    if random(0, 10) < 1.0 { note++ }
    if !scale.contains(note % 12) { print("ACCIDENT!") }
    if random(0, 6) > 1.0 { sampler.playNote(note + octave) }
}


XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
