<h3>Sequencer - Single output
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit


let audiokit = AKManager.sharedInstance

{% endhighlight %}
<p>Create the sequencer, but we can&#39;t init it until we do some basic setup</p>

{% highlight ruby %}var seq:AKSequencer?

{% endhighlight %}
<p>Create a sampler, load a sound, and connect it to the output</p>

{% highlight ruby %}var sampler = AKSampler()

sampler.loadEXS24("Sounds/sawPiano1")
audiokit.audioOutput = sampler

{% endhighlight %}
<p>Load in a midi file, and set the sequencer to the main audiokit engine</p>

{% highlight ruby %}seq = AKSequencer(filename: "4tracks", engine: audiokit.engine)

{% endhighlight %}
<p>Do some basic setup to make the sequence loop correctly</p>

{% highlight ruby %}seq!.setLength(4)
seq!.loopOn()

{% endhighlight %}
<p>Here we set all tracks of the sequencer to the same audioUnit</p>

{% highlight ruby %}seq!.setGlobalAVAudioUnitOutput(sampler.samplerUnit)

{% endhighlight %}
<p>Hear it go</p>

{% highlight ruby %}audiokit.start()
seq!.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
