<p><h3>Splitting Nodes
</h3><h4>All nodes in AudioKit can have multiple destinations, the only caveat is that all of the destinations do have to eventually be mixed back together and none of the parallel signal paths can have any time stretching.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit
import AVFoundation

{% endhighlight %}
<p>This section prepares the players</p>

{% highlight ruby %}let audiokit = AKManager.sharedInstance
let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("drumloop", ofType: "wav")
var player = AKAudioPlayer(file!)
player.looping = true
let player1Window = AKAudioPlayerWindow(player, title: "Drums")

var delay = AKDelay(player)
let delayWindow = AKDelayWindow(delay)

var ringMod = AKRingModulator(player)
let ringModWindow = AKRingModulatorWindow(ringMod)

{% endhighlight %}
<p>Any number of inputs can be equally summed into one output</p>

{% highlight ruby %}let mixer = AKMixer(delay, ringMod, player)

audiokit.audioOutput = mixer
audiokit.start()

let plotView = AKOutputWaveformPlot.createView()
XCPlaygroundPage.currentPage.liveView = plotView
XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
