<h2>AudioKit for OSX Playgrounds
</h2>

<p>AudioKit comes with Playgrounds built for both iOS and OS X because even though AudioKit is identical for all platforms, Xcode&#39;s playgrounds have different capabilities.  OS X Playgrounds allow you to create interactive windows with buttons and sliders that can interact with the code in the playground.  So, in iOS we have a lot of automatical loops that change values for the reader, but in OS X, we provide windows with sliders that you allow you to set the parameters you want to hear.  In addition, as of AudioKit 3.0, OS X Playgrounds do not register the custom audio units from AudioKit properly, so there is less to demonstrate in OS X.  As you can see, both playgrounds have their advantages and really you should use them both for what they&#39;re capable of.</p>

<h3>Getting Started
</h3>

<p>Let&#39;s start off just making sure you&#39;re all set up and can make sound.</p>

<ul>
<li><a href="Intro">Introduction</a></li>
</ul>

<h3>This is going to be fun...
</h3>

<p>So wait, before we jump into the actual tutorials, let&#39;s just highlight some of the cooler sound playgrounds we have.  Don&#39;t try to understand the code if you&#39;re just started, it will all be expained starting with the next section, Basic Tutorials.</p>

<ul>
<li><a href="Delay">Delay</a></li>
<li><a href="Time%20Stretching%20and%20Pitch%20Shifting">Time Stretching and Pitch Shifting</a></li>
</ul>

<h3>Basic Tutorials
</h3>

<p>These tutorials help you get started with the basic concepts of AudioKit, starting with what you need to know about playgrounds in general and then moving on to sound creation and working with AudioKit nodes.</p>

<ul>
<li><a href="Non-Audio%20Tutorial">Non-Audio Tutorial</a></li>
<li><a href="Connecting%20Nodes">Connecting Nodes</a></li>
<li><a href="Mixing%20Nodes">Mixing Nodes</a></li>
<li><a href="Splitting%20Nodes">Splitting Nodes</a></li>
<li><a href="Dry%20Wet%20Mixer">Dry Wet Mixer</a></li>
</ul>

<h3>Playback Nodes
</h3>

<p>Over the course of viewing the playgrounds so far, you&#39;ve come across AKAudioPlayer repeatedly.  It is a simple neough class that it doesn&#39;t require a playground of its own, but there are some playback-oriented nodes that are very useful and cool.</p>

<ul>
<li><a href="Sampler%20Instrument%20-%20EXS24">Sampler Instrument - EXS24</a></li>
<li><a href="Sampler%20Instrument%20-%20Wav%20file">Sampler Instrument - Wav file</a></li>
<li><a href="Sequencer%20-%20Single%20output">Sequencer - Single output</a></li>
<li><a href="Sequencer%20-%20Multiple%20output">Sequencer - Multiple output</a></li>
<li><a href="Time%20Stretching%20and%20Pitch%20Shifting">Time Stretching and Pitch Shifting</a></li>
</ul>

<h3>Effect Processor Nodes
</h3>

<p>Here is where we start presenting playgrounds with the purpose of demonstrating a particular type of node.  This section covers effect processors such as what you might find on a electric guitar pedal board.</p>

<h4>Delay Nodes
</h4>

<p>Delay is a lot more powerful than simply repeating an earlier sound.  By varying parameters, you can get startlingly beautiful effects.</p>

<ul>
<li><a href="Delay">Delay</a></li>
</ul>

<h4>Distortion
</h4>

<p>Distortion is a category for nodes that do more than just filter a sound, and basically change something essential to the sound, usually making for a harsher sound, but that&#39;s a matter of taste.</p>

<ul>
<li><a href="Decimator">Decimator</a></li>
<li><a href="Ring%20Modulation">Ring Modulation</a></li>
<li><a href="Complex%20Distortion">Complex Distortion</a></li>
</ul>

<h4>Dynamics Processing
</h4>

<p>Dynamics processing is usually done at the mixing stage and involves changing the signal&#39;s output levels.</p>

<ul>
<li><a href="Dynamics%20Processor">Dynamics Processor</a></li>
<li><a href="Peak%20Limiter">Peak Limiter</a></li>
</ul>

<h4>Filters
</h4>

<ul>
<li><a href="Band%20Pass%20Filter">Band Pass Filter</a></li>
<li><a href="High%20Pass%20Filter">High Pass Filter</a></li>
<li><a href="High%20Shelf%20Filter">High Shelf Filter</a></li>
<li><a href="Low%20Pass%20Filter">Low Pass Filter</a></li>
<li><a href="Low%20Shelf%20Filter">Low  Shelf Filter</a></li>
<li><a href="Parametric%20Equalizer">Parametric Equalizer</a></li>
</ul>

<h4>Reverb
</h4>

<p>These are the more traditional reverb efffects.</p>

<ul>
<li><a href="Simple%20Reverb">Simple Reverb</a></li>
</ul>

{% highlight ruby %}
{% endhighlight %}
