<p><h3>Time Stretching and Pitch Shifting
</h3><h4>With AKTimePitch you can easily change the pitch and speed of a player-generated sound.  It does not work on live input or generated signals.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let audiokit = AKManager.sharedInstance

{% endhighlight %}
<p>This section prepares the player</p>

{% highlight ruby %}let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("mixloop", ofType: "wav")
var player = AKAudioPlayer(file!)
player.looping = true
let playerWindow = AKAudioPlayerWindow(player)

{% endhighlight %}
<p>Next, we&#39;ll connect the audio source to a time/pitch effect</p>

{% highlight ruby %}var timePitch = AKTimePitch(player)

{% endhighlight %}
<p>Set the parameters of the Time/Pitch stretching here</p>

{% highlight ruby %}timePitch.rate = 1.0 // rate
timePitch.pitch = 1.0 // Cents
timePitch.overlap = 8.0 // generic

var timePitchWindow = AKTimePitchWindow(timePitch)
timePitchWindow.rateSlider.maxValue = 4.0
audiokit.audioOutput = timePitch
audiokit.start()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
