<p><h3>Dripping Sounds
</h3><h4>Physical model of a water drop letting hitting a pool.  What&#39;s this good for?  We don&#39;t know, but hey it&#39;s cool. :)
</h4></p>

{% highlight ruby %}import AudioKit
import XCPlayground

let playRate = 2.0

let drip = AKDrip(intensity: 1)
drip.intensity = 100

let reverb = AKReverb(drip)


AudioKit.output = reverb
AudioKit.start()

AKPlaygroundLoop(frequency: playRate) {
    drip.trigger()
}

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
{% endhighlight %}
