<h3>Flat Frequency Response Reverb
</h3>

{% highlight ruby %}import XCPlayground
import AudioKit

let audiokit = AKManager.sharedInstance

let bundle = NSBundle.mainBundle()
let file = bundle.pathForResource("drumloop", ofType: "wav")
var player = AKAudioPlayer(file!)
player.looping = true
var reverb = AKFlatFrequencyResponseReverb(player, loopDuration: 0.1)

{% endhighlight %}
<p>Set the parameters of the delay here</p>

{% highlight ruby %}reverb.reverbDuration = 1

audiokit.audioOutput = reverb
audiokit.start()
player.play()

XCPlaygroundPage.currentPage.needsIndefiniteExecution = true

{% endhighlight %}
