<h3>Introduction and Hello World
</h3>

<h4>You don't need to understand anything on this page, all you need to do is hear a one second long beep.  If you hear that, then everything worked and you can move on.  Sure, you can change the parameters on this page to hear different beeps, but trust us, things are about to sound a lot cooler than just beeps!
</h4>

{% highlight ruby %}import AudioKit

let oscillator = AKOscillator()

AudioKit.output = oscillator
AudioKit.start()

oscillator.start()

sleep(1)
{% endhighlight %}
