<h2>AudioKit for iOS Playgrounds
</h2>

<h3>Tutorials
</h3>

<ul>
<li><a href="Non-Audio%20Tutorial">Non-Audio Tutorial</a></li>
<li><a href="Introduction%20and%20Hello%20World">Introduction and Hello World</a></li>
<li><a href="Connecting%20Nodes">Connecting Nodes</a></li>
<li><a href="Mixing%20Nodes">Mixing Nodes</a></li>
</ul>

<h3>Effect Processor Nodes
</h3>

<h4>Delay
</h4>

<ul>
<li><a href="Delay">Delay</a></li>
<li><a href="Variable%20Delay">Variable Delay</a></li>
</ul>

<h4>Distortion
</h4>

<ul>
<li><a href="Bit%20Crush%20Effect">Bit Crush Effect</a></li>
<li><a href="Complex%20Distortion">Complex Distortion</a></li>
<li><a href="Decimator">Decimator</a></li>
<li><a href="Ring%20Modulation">Ring Modulation</a></li>
<li><a href="Time%20Stretching%20and%20Pitch%20Shifting">Time Stretching and Pitch Shifting</a></li>
</ul>

<h4>Dynamics
</h4>

<ul>
<li><a href="Dynamics%20Processor">Dynamics Processor</a></li>
<li><a href="Peak%20Limiter">Peak Limiter</a></li>
</ul>

<h3>Filters
</h3>

<ul>
<li><a href="Band%20Pass%20Filter">Band Pass Filter</a></li>
<li><a href="High%20Pass%20Filter">High Pass Filter</a></li>
<li><a href="High%20Shelf%20Filter">High Shelf Filter</a></li>
<li><a href="Low%20Pass%20Filter">Low Pass Filter</a></li>
<li><a href="Low%20Shelf%20Filter">Low  Shelf Filter</a></li>
<li><a href="Moog%20Ladder%20Filter">Moog Ladder Filter</a></li>
<li><a href="Parametric%20Equalizer">Parametric Equalizer</a></li>
</ul>

<h4>Reverb
</h4>

<ul>
<li><a href="Comb%20Filter%20Reverb">Comb Filter Reverb</a></li>
<li><a href="Sean%20Costello%20Reverb">Sean Costello Reverb</a></li>
<li><a href="Flat%20Frequency%20Response%20Reverb">Flat Frequency Response Reverb</a></li>
</ul>

<h3>Generator Nodes
</h3>

<h4>Noise Generators
</h4>

<ul>
<li><a href="Pink%20Noise%20Generator">Pink Noise Generator</a></li>
<li><a href="White%20Noise%20Generator">White Noise Generator</a></li>
</ul>

<h4>Oscillators
</h4>

<ul>
<li><a href="FM%20Oscillator">FM Oscillator</a></li>
<li><a href="General%20Purpose%20Oscillator">General Purpose Oscillator</a></li>
<li><a href="Sawtooth%20Oscillator">Sawtooth Oscillator</a></li>
<li><a href="Square%20Wave%20Oscillator">Square Wave Oscillator</a></li>
<li><a href="Triangular%20Wave%20Oscillator">Triangular Wave Oscillator</a></li>
</ul>

<h3>Operations
</h3>

<p>Operations are used to make the internals of a single node.</p>

<ul>
<li><a href="Bit%20Crush%20Operation">Bit Crush</a></li>
<li><a href="Clip%20Operation">Clip</a></li>
<li><a href="Sean%20Costello%20Reverb%20Operation">Sean Costello Reverb</a></li>
</ul>

{% highlight ruby %}

{% endhighlight %}
