---
layout: default
section: docs
---

  <section class="docs">
    <div class="grid">

      <div class="unit four-fifths">
        <article>
          <h1>
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
          </h1>
          {{ content }}

          {% include docset_note.html %}

        </article>
      </div>
      <div class="unit one-fifth hide-on-mobiles">
        <aside>
          {% include sidebars/docs.html %}
        </aside>
      </div>
      <div class="clear"></div>

    </div>
  </section>
