---
layout: default
---

  <section class="docs">
    <div class="grid">

      <div class="unit four-fifths">
        <article>
          <h1 class="hide-on-mobiles">
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
          </h1>
          <h1 class="small show-on-mobiles">
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
          </h1>

          {{ content }}
        </article>
      </div>
      <div class="unit one-fifth hide-on-mobiles">
        <aside>
          {% include sidebars/examples.html %}
        </aside>
      </div>
      <div class="clear"></div>

    </div>
  </section>
