---
layout: default
section: features
---

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>
          {% if page.title != '' %}
            {{ page.title | capitalize}}
          {% else %}
            {{ page.header }}
          {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>
              {% if page.header != '' %}
              <a href="/{{ page.header }}">{{ page.header }}</a>
              {% endif %}
            </li>
            <li class="active">
              {% if page.title != '' %}
                {{ page.title }}
              {% endif %}
            </li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
          <div class="playgroundnav">
            {% if page.prev != ''%}
                  <a href="/playgrounds/{{page.prev}}">Prev</a>
            {% endif %}
            <div style="float: right;">
            {% if page.next != ''%}
                  <a href="/playgrounds/{{page.next}}">Next</a>
            {% endif %} 
            </div>
          </div>
            {{ content }}
        </div>

    </div>

</section><!-- #content end -->
