---
layout: default
section: features
---

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">
              {% if page.header != '' %}
                {{ page.header }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section>
<div id="page-menu">
  <div id="page-menu-wrap">
    <div class="container clearfix">
      <div class="menu-title"><span>Features</span></div>
      <nav class="one-page-menu">
        <ul>
          <li><a href="/soundpipe"><div>Soundpipe</div></a></li>
          <li><a href="/sporth"><div>Sporth</div></a></li>
        </ul>
      </nav>
      <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>
    </div>
  </div>
</div>
</section>
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            {{ content }}
        </div>

    </div>

</section><!-- #content end -->


