---
layout: default
section: features
---

<!-- Page Title
============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">
              {% if page.header != '' %}
                {{ page.header }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">


<h3>AudioKit 2 is an old version of AudioKit, so while we keep these here for reference, we strongly recommend you use AudioKit 3.  It's much better and we're all moving on...</h3>

            {{ content }}
        </div>

    </div>

</section><!-- #content end -->


