---
layout: default
section: tutorials
---

<section id="page-title">

    <div class="container clearfix">
        <h1>
          {% if page.header != '' %}
            {{ page.header }}
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">
              {% if page.header != '' %}
                {{ page.header }}
              {% else %}
                {{ page.title }}
              {% endif %}
            </li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">
            {{ content }}


{% if page.prev_section != null or page.next_section != null %}

    {% if page.prev_section != null %}
      <a href="{{ page.prev_section }}" class="button button-3d button-xlarge button-rounded button-red">
        Back
      </a>
    {% else %}
    {% endif %}
    {% if page.next_section != null %}
      <a href="{{ page.next_section }}" class="button button-3d button-xlarge button-rounded button-green">
        Next
      </a>
    {% else %}
    {% endif %}

{% endif %}


        </div>

    </div>

</section><!-- #content end -->




