<h3>Low Pass Filter Operation
</h3>

{% highlight ruby %}import AudioKitPlaygrounds
import AudioKit

{% endhighlight %}
<p>Noise Example</p>

{% highlight ruby %}// Bring down the amplitude so that when it is mixed it is not so loud
let whiteNoise = AKWhiteNoise(amplitude: 0.1)
let filteredNoise = AKOperationEffect(whiteNoise) { whiteNoise, _ in
    let halfPower = AKOperation.sineWave(frequency: 0.2).scale(minimum: 12_000, maximum: 100)
    return whiteNoise.lowPassFilter(halfPowerPoint: halfPower)
}

{% endhighlight %}
<p>Music Example</p>

{% highlight ruby %}let file = try AKAudioFile(readFileName: playgroundAudioFiles[0])

let player = try AKAudioPlayer(file: file)
player.looping = true
let filteredPlayer = AKOperationEffect(player) { player, _ in
    let halfPower = AKOperation.sineWave(frequency: 0.2).scale(minimum: 12_000, maximum: 100)
    return player.lowPassFilter(halfPowerPoint: halfPower)
}

{% endhighlight %}
<p>Mixdown and playback</p>

{% highlight ruby %}let mixer = AKDryWetMixer(filteredNoise, filteredPlayer, balance: 0.5)
AudioKit.output = mixer
AudioKit.start()

whiteNoise.start()
player.play()

import PlaygroundSupport
PlaygroundPage.current.needsIndefiniteExecution = true
{% endhighlight %}
