<p><h3>Moog Ladder Filter
</h3><h4>One of the coolest filters available in AudioKit is the Moog Ladder.
</h4><h4>It&#39;s based off of Robert Moog&#39;s iconic ladder filter, which was the
</h4><h4>first implementation of a voltage - controlled filter used in an
</h4><h4>analog synthesizer. As such, it was the first filter that gave the
</h4><h4>ability to use voltage control to determine the cutoff frequency of the
</h4><h4>filter. As we&#39;re dealing with a software implementation, and not an
</h4><h4>analog synthesizer, we don&#39;t have to worry about dealing with
</h4><h4>voltage control directly. However, by using this node, you can
</h4><h4>emulate some of the sounds of classic analog synthesizers in your app.
</h4></p>

{% highlight ruby %}import XCPlayground
import AudioKit

let file = try AKAudioFile(readFileName: filtersPlaygroundFiles[0],
                           baseDir: .Resources)

let player = try AKAudioPlayer(file: file)
player.looping = true

var moogLadder = AKMoogLadder(player)
moogLadder.cutoffFrequency = 300 // Hz
moogLadder.resonance = 0.6

AudioKit.output = moogLadder
AudioKit.start()

player.play()

{% endhighlight %}
<p>User Interface Set up</p>

{% highlight ruby %}class PlaygroundView: AKPlaygroundView {

    override func setup() {
        addTitle("Moog Ladder Filter")

        addSubview(AKResourcesAudioFileLoaderView(
            player: player,
            filenames: filtersPlaygroundFiles))

        addSubview(AKPropertySlider(
            property: "Cutoff Frequency",
            format: "%0.1f Hz",
            value: moogLadder.cutoffFrequency, maximum: 5000,
            color: AKColor.greenColor()
        ) { sliderValue in
            moogLadder.cutoffFrequency = sliderValue
            })

        addSubview(AKPropertySlider(
            property: "Resonance",
            format: "%0.2f",
            value: moogLadder.resonance,
            color: AKColor.redColor()
        ) { sliderValue in
            moogLadder.resonance = sliderValue
            })
    }


}
XCPlaygroundPage.currentPage.needsIndefiniteExecution = true
XCPlaygroundPage.currentPage.liveView = PlaygroundView()
{% endhighlight %}
