<h2>Effects Processing Playgrounds
</h2>

<h3>"Analog Synth X" Example Project
</h3>

<p>AudioKit is shipped with an awesome synth example project and the following
 playgrounds are where we developed and tested out the effects for that synth.</p>

<ul>
<li><a href="Fatten%20Effect">Fatten Effect</a></li>
<li><a href="Filter%20Section%20Example">Filter Section</a></li>
<li><a href="Multi-tap%20Delay">Muli-tap Delay</a></li>
<li><a href="MultiDelay%20Example">MultiDelay</a></li>
</ul>

<h3>Nodes
</h3>

<h4>Delays
</h4>

<p>Delay is a lot more powerful than simply repeating an earlier sound.
 By varying parameters, you can get startlingly beautiful effects.</p>

<ul>
<li><a href="Delay">Delay</a></li>
<li><a href="Smooth%20Delay">Smooth Delay</a></li>
<li><a href="Variable%20Delay">Variable Delay</a></li>
</ul>

<h4>Distortion
</h4>

<p>Distortion is a category for nodes that do more than just filter a sound,
 and basically change something essential to the sound, usually making for a
 harsher sound, but that&#39;s a matter of taste.</p>

<ul>
<li><a href="Bit%20Crush%20Effect">Bit Crush Effect</a></li>
<li><a href="Decimator">Decimator</a></li>
<li><a href="Distortion">Distortion</a></li>
<li><a href="Ring%20Modulator">Ring Modulator</a></li>
<li><a href="Tanh%20Distortion">Tanh Distortion</a></li>
</ul>

<h4>Dynamics Processing
</h4>

<p>Dynamics processing is usually done at the mixing stage and involves
 changing the signal&#39;s output levels.</p>

<ul>
<li><a href="Clipper">Clipper</a></li>
<li><a href="Compressor">Compressor</a></li>
<li><a href="Dynamics%20Processor">Dynamics Processor</a></li>
<li><a href="Expander">Expander</a></li>
<li><a href="Peak%20Limiter">Peak Limiter</a></li>
</ul>

<h4>Filters
</h4>

<ul>
<li>Filter playground pages were moved to a dedicated playground</li>
</ul>

<h4>Pitch Shifting
</h4>

<ul>
<li><a href="Pitch%20Shifter">Pitch Shifter</a></li>
<li><a href="Pitch%20Shifter%20Operation">Pitch Shifter Operation</a></li>
</ul>

<h4>Reverb
</h4>

<p>These are the more traditional reverb efffects.</p>

<ul>
<li><a href="Costello%20Reverb">Costello Reverb</a></li>
<li><a href="Reverb">Simple Reverb</a></li>
<li>iOS-only Reverb - appears in the iOS Development Playground</li>
</ul>

<p>Convolution is included here because it often used for reverb effects, but it can do a lot more.</p>

<ul>
<li><a href="Convolution">Convolution</a></li>
</ul>

<p>Then there are &quot;reverbs&quot; that are more commonly used as components, not as a stand-alone effect.</p>

<ul>
<li><a href="Comb%20Filter%20Reverb">Comb Filter Reverb</a></li>
<li><a href="Flat%20Frequency%20Response%20Reverb">Flat Frequency Response Reverb</a></li>
</ul>

<h4>Other
</h4>

<ul>
<li><a href="Auto%20Wah%20Wah">Auto Wah Wah</a></li>
<li><a href="Graphic%20Equalizer">Graphic Equalizer</a></li>
<li><a href="String%20Resonator">String Resonator</a></li>
<li><a href="Tremolo">Tremolo</a></li>
<li><a href="3D%20Panner">3D Panner</a></li>
</ul>

{% highlight ruby %}
{% endhighlight %}
<h3>Operations
</h3>

<p>Many of the types of things you can do in nodes are also possible with operations,
 but with great flexibility in how the parameters are changed over time.</p>

<ul>
<li><a href="AutoPan%20Operation">AutoPan Operation</a></li>
<li><a href="AutoWah%20Operation">AutoWah Operation</a></li>
<li><a href="Bit%20Crush%20Operation">Bit Crush</a></li>
<li><a href="Costello%20Reverb%20Operation">Costello Reverb Operation</a></li>
<li><a href="Flat%20Frequency%20Response%20Reverb%20Operation">Flat Frequency Response Reverb</a></li>
<li><a href="Stereo%20Delay%20Operation">Stereo Delay Operation</a></li>
<li><a href="Variable%20Delay%20Operation">Variable Delay</a></li>
</ul>

<h4>Sporth
</h4>

<p>Sporth is a simple but super-powerful stack-based audio processing language
 that you can run directly in AudioKit.</p>

<ul>
<li><a href="Sporth%20Based%20Effect">Sporth Based Effect</a></li>
</ul>
